In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\somte\Desktop\alex the analyst\pandas\dirty_dataset_100_extended.csv")

In [3]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes
0,NaN,18,NaN,United States,50000,2020-11-31,invalid,"? Ikorodu Rd, PH",Helper,Duplicate
1,Jane L.,thirty,noemail,NaN,NaN,2022-01-01,invalid,"7 Main St, PH",Intern,Duplicate
2,NaN,NaN,noemail,NIGERIA,52000,2020-01-05,+2341518524025,"Broadway, None",,
3,Li Okoro,22,#,NIGERIA,70000,NaN,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate
4,SUSAN OKORO,NaN,#,UAE,not available,2021/13/01,invalid,"? Olu Obasanjo, PH",Helper,Good candidate
...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31,noemail,America,not available,2020-11-31,NaN,"100 Main St, None",Helper,Needs review
96,jane doe,35,janedoe@mail.com,America,"55,000",2020-11-31,invalid,"7 Olu Obasanjo, None",Mud Engineer,??
97,Grace L.,??,NaN,UK,NaN,2020-01-05,0703-2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete
98,LI SMITH,29,#,USA,50000,2021-07-15,0703-0004383,"None Aba Rd, PH",Mud Engineer,??
99,aisha lee,??,noemail,NIGERIA,NaN,2020-00-12,0703-9206910,"45B Sapele Rd, None",Intern,Entry incomplete

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          79 non-null     object
 1   Age           78 non-null     object
 2   Email         83 non-null     object
 3   Country       87 non-null     object
 4   Salary        86 non-null     object
 5   Join_Date     86 non-null     object
 6   Phone_Number  68 non-null     object
 7   Address       100 non-null    object
 8   Job_Title     94 non-null     object
 9   Notes         86 non-null     object
dtypes: object(10)
memory usage: 7.9+ KB

In [5]:
df.isna().sum()

Name            21
Age             22
Email           17
Country         13
Salary          14
Join_Date       14
Phone_Number    32
Address          0
Job_Title        6
Notes           14
dtype: int64

# Name

In [6]:
df["Name"].describe()

count           79
unique          72
top         Wei O.
freq             2
Name: Name, dtype: object

In [7]:
df = df.drop_duplicates()

In [8]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes
0,NaN,18,NaN,United States,50000,2020-11-31,invalid,"? Ikorodu Rd, PH",Helper,Duplicate
1,Jane L.,thirty,noemail,NaN,NaN,2022-01-01,invalid,"7 Main St, PH",Intern,Duplicate
2,NaN,NaN,noemail,NIGERIA,52000,2020-01-05,+2341518524025,"Broadway, None",,
3,Li Okoro,22,#,NIGERIA,70000,NaN,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate
4,SUSAN OKORO,NaN,#,UAE,not available,2021/13/01,invalid,"? Olu Obasanjo, PH",Helper,Good candidate
...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31,noemail,America,not available,2020-11-31,NaN,"100 Main St, None",Helper,Needs review
96,jane doe,35,janedoe@mail.com,America,"55,000",2020-11-31,invalid,"7 Olu Obasanjo, None",Mud Engineer,??
97,Grace L.,??,NaN,UK,NaN,2020-01-05,0703-2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete
98,LI SMITH,29,#,USA,50000,2021-07-15,0703-0004383,"None Aba Rd, PH",Mud Engineer,??
99,aisha lee,??,noemail,NIGERIA,NaN,2020-00-12,0703-9206910,"45B Sapele Rd, None",Intern,Entry incomplete

In [9]:
pattern = r"[^a-zA-Z\s\-.']"

In [10]:
bad_names= df["Name"].str.contains(pattern, na=False)

In [11]:
bad_names.sum()

np.int64(0)

In [12]:
df.loc[bad_names, "Name"].value_counts().head(18)

Series([], Name: count, dtype: int64)

In [13]:
df.loc[bad_names,"Name"].str.findall(pattern).explode().value_counts()

Series([], Name: count, dtype: int64)

In [14]:
df["Name"]= df["Name"].str.strip()

In [15]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes
0,NaN,18,NaN,United States,50000,2020-11-31,invalid,"? Ikorodu Rd, PH",Helper,Duplicate
1,Jane L.,thirty,noemail,NaN,NaN,2022-01-01,invalid,"7 Main St, PH",Intern,Duplicate
2,NaN,NaN,noemail,NIGERIA,52000,2020-01-05,+2341518524025,"Broadway, None",,
3,Li Okoro,22,#,NIGERIA,70000,NaN,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate
4,SUSAN OKORO,NaN,#,UAE,not available,2021/13/01,invalid,"? Olu Obasanjo, PH",Helper,Good candidate
...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31,noemail,America,not available,2020-11-31,NaN,"100 Main St, None",Helper,Needs review
96,jane doe,35,janedoe@mail.com,America,"55,000",2020-11-31,invalid,"7 Olu Obasanjo, None",Mud Engineer,??
97,Grace L.,??,NaN,UK,NaN,2020-01-05,0703-2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete
98,LI SMITH,29,#,USA,50000,2021-07-15,0703-0004383,"None Aba Rd, PH",Mud Engineer,??
99,aisha lee,??,noemail,NIGERIA,NaN,2020-00-12,0703-9206910,"45B Sapele Rd, None",Intern,Entry incomplete

# Age

In [16]:
df["Age"] = pd.to_numeric(df["Age"], errors="coerce")

In [17]:
df["Age"].describe()

count    56.000000
mean     28.875000
std       6.421732
min      18.000000
25%      24.250000
50%      29.500000
75%      31.000000
max      40.000000
Name: Age, dtype: float64

In [18]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes
0,NaN,18.0,NaN,United States,50000,2020-11-31,invalid,"? Ikorodu Rd, PH",Helper,Duplicate
1,Jane L.,NaN,noemail,NaN,NaN,2022-01-01,invalid,"7 Main St, PH",Intern,Duplicate
2,NaN,NaN,noemail,NIGERIA,52000,2020-01-05,+2341518524025,"Broadway, None",,
3,Li Okoro,22.0,#,NIGERIA,70000,NaN,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate
4,SUSAN OKORO,NaN,#,UAE,not available,2021/13/01,invalid,"? Olu Obasanjo, PH",Helper,Good candidate
...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,noemail,America,not available,2020-11-31,NaN,"100 Main St, None",Helper,Needs review
96,jane doe,35.0,janedoe@mail.com,America,"55,000",2020-11-31,invalid,"7 Olu Obasanjo, None",Mud Engineer,??
97,Grace L.,NaN,NaN,UK,NaN,2020-01-05,0703-2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete
98,LI SMITH,29.0,#,USA,50000,2021-07-15,0703-0004383,"None Aba Rd, PH",Mud Engineer,??
99,aisha lee,NaN,noemail,NIGERIA,NaN,2020-00-12,0703-9206910,"45B Sapele Rd, None",Intern,Entry incomplete

# Email

In [19]:
email_pattern = r"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"

In [20]:
valid_email = df["Email"].str.match(email_pattern, na = False)

In [21]:
(~valid_email).sum()

np.int64(83)

In [22]:
df.loc[~valid_email, "Email"].sample(30)

16                          NaN
57                      noemail
41                      x@gmail
82                           @@
15                          NaN
37            bobl.@@broken.com
6             aishagarcia@gmail
43                            #
91    mohammedkumar@@broken.com
99                      noemail
21                           @@
77                           @@
14              weigarcia@test@
33                      x@test@
83                            #
46     michaelsmith@@broken.com
39                      noemail
66                           @@
74                            #
45                            #
44                      noemail
12                          NaN
93                          NaN
24                      noemail
92                            #
69           bobdoe@@broken.com
73                           @@
64          mohammedsmith@test@
9                           NaN
95                      noemail
Name: Email, dtype: object

In [23]:
df.loc[~valid_email, "Email"] = np.nan

In [24]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes
0,NaN,18.0,NaN,United States,50000,2020-11-31,invalid,"? Ikorodu Rd, PH",Helper,Duplicate
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,invalid,"7 Main St, PH",Intern,Duplicate
2,NaN,NaN,NaN,NIGERIA,52000,2020-01-05,+2341518524025,"Broadway, None",,
3,Li Okoro,22.0,NaN,NIGERIA,70000,NaN,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate
4,SUSAN OKORO,NaN,NaN,UAE,not available,2021/13/01,invalid,"? Olu Obasanjo, PH",Helper,Good candidate
...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,NaN,America,not available,2020-11-31,NaN,"100 Main St, None",Helper,Needs review
96,jane doe,35.0,janedoe@mail.com,America,"55,000",2020-11-31,invalid,"7 Olu Obasanjo, None",Mud Engineer,??
97,Grace L.,NaN,NaN,UK,NaN,2020-01-05,0703-2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete
98,LI SMITH,29.0,NaN,USA,50000,2021-07-15,0703-0004383,"None Aba Rd, PH",Mud Engineer,??
99,aisha lee,NaN,NaN,NIGERIA,NaN,2020-00-12,0703-9206910,"45B Sapele Rd, None",Intern,Entry incomplete

In [25]:
(~valid_email).sum()

np.int64(83)

In [26]:
df["Email"].str.match(email_pattern, na = False).sum()

np.int64(17)

# Countries

In [27]:
country_tmp = (df["Country"].astype(str).str.strip().str.upper())

In [28]:
country_tmp

0     UNITED STATES
1               NAN
2           NIGERIA
3           NIGERIA
4               UAE
          ...
95          AMERICA
96          AMERICA
97               UK
98              USA
99          NIGERIA
Name: Country, Length: 100, dtype: object

In [29]:
letter_code = country_tmp.str.match(r"^[A-Z]{2,3}$")
country_tmp[letter_code].value_counts().head(20)

Country
UAE    16
NAN    13
US     10
USA     9
UK      7
Name: count, dtype: int64

In [30]:
punctuation = df["Country"].str.contains(r"[.!?\-]", regex = True, na = False)
df.loc[punctuation, "Country"].value_counts().head(20)

Series([], Name: count, dtype: int64)

In [31]:
punctuation.sum()

np.int64(0)

In [32]:
abbr = country_tmp.str.len().between(2,10)

In [33]:
country_tmp[abbr].value_counts().head(20)

Country
UAE        16
NAN        13
NIGERIA    11
NAIJA      11
US         10
USA         9
AMERICA     8
UK          7
Name: count, dtype: int64

In [34]:
country_map = {"UK" : "United Kingdom", "UAE" : "United Arab Emirates", "NAIJA" : "Nigeria", "USA" : "United States of America", "US":"United States of America", "AMERICA":"United States of America"}

In [35]:
df["Country"] = df["Country"].map(country_map)

In [36]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes
0,NaN,18.0,NaN,NaN,50000,2020-11-31,invalid,"? Ikorodu Rd, PH",Helper,Duplicate
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,invalid,"7 Main St, PH",Intern,Duplicate
2,NaN,NaN,NaN,NaN,52000,2020-01-05,+2341518524025,"Broadway, None",,
3,Li Okoro,22.0,NaN,NaN,70000,NaN,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,not available,2021/13/01,invalid,"? Olu Obasanjo, PH",Helper,Good candidate
...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,NaN,NaN,not available,2020-11-31,NaN,"100 Main St, None",Helper,Needs review
96,jane doe,35.0,janedoe@mail.com,NaN,"55,000",2020-11-31,invalid,"7 Olu Obasanjo, None",Mud Engineer,??
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,0703-2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete
98,LI SMITH,29.0,NaN,United States of America,50000,2021-07-15,0703-0004383,"None Aba Rd, PH",Mud Engineer,??
99,aisha lee,NaN,NaN,NaN,NaN,2020-00-12,0703-9206910,"45B Sapele Rd, None",Intern,Entry incomplete

# SALARY

In [37]:
df["Salary"] = pd.to_numeric(df["Salary"], errors = "coerce")

In [38]:
#df["Salary"] = df["Salary"].astype(int)

In [39]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes
0,NaN,18.0,NaN,NaN,50000.0,2020-11-31,invalid,"? Ikorodu Rd, PH",Helper,Duplicate
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,invalid,"7 Main St, PH",Intern,Duplicate
2,NaN,NaN,NaN,NaN,52000.0,2020-01-05,+2341518524025,"Broadway, None",,
3,Li Okoro,22.0,NaN,NaN,70000.0,NaN,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,2021/13/01,invalid,"? Olu Obasanjo, PH",Helper,Good candidate
...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,NaN,NaN,NaN,2020-11-31,NaN,"100 Main St, None",Helper,Needs review
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,2020-11-31,invalid,"7 Olu Obasanjo, None",Mud Engineer,??
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,0703-2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,0703-0004383,"None Aba Rd, PH",Mud Engineer,??
99,aisha lee,NaN,NaN,NaN,NaN,2020-00-12,0703-9206910,"45B Sapele Rd, None",Intern,Entry incomplete

In [40]:
#df["Salary"] = df["Salary"].map("{:,}".format)

In [41]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes
0,NaN,18.0,NaN,NaN,50000.0,2020-11-31,invalid,"? Ikorodu Rd, PH",Helper,Duplicate
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,invalid,"7 Main St, PH",Intern,Duplicate
2,NaN,NaN,NaN,NaN,52000.0,2020-01-05,+2341518524025,"Broadway, None",,
3,Li Okoro,22.0,NaN,NaN,70000.0,NaN,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,2021/13/01,invalid,"? Olu Obasanjo, PH",Helper,Good candidate
...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,NaN,NaN,NaN,2020-11-31,NaN,"100 Main St, None",Helper,Needs review
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,2020-11-31,invalid,"7 Olu Obasanjo, None",Mud Engineer,??
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,0703-2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,0703-0004383,"None Aba Rd, PH",Mud Engineer,??
99,aisha lee,NaN,NaN,NaN,NaN,2020-00-12,0703-9206910,"45B Sapele Rd, None",Intern,Entry incomplete

# PHONE NUMBER

In [42]:
df["Phone_Number"] = df["Phone_Number"].astype(str)

In [43]:
df["Phone_Number"] = df["Phone_Number"].str.replace("-", " ", regex = False)

In [44]:
def standardize_nigerian_number(num):
    if not num or num.lower() in ["none","n\a", "invalid", " "]:
        return np.nan
    if num.startswith ("0"):
        return "+234" + num [1:]
    if num.startswith ("+234"):
        return num
    if num.startswith ("234"):
        return "+" + num
    return np.nan

df["Phone_Number"] = df["Phone_Number"].apply(standardize_nigerian_number)

In [45]:
#df["Phone_Number"] = pd.to_numeric(df["Phone_Number"], errors = "coerce")

In [46]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes
0,NaN,18.0,NaN,NaN,50000.0,2020-11-31,NaN,"? Ikorodu Rd, PH",Helper,Duplicate
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,NaN,"7 Main St, PH",Intern,Duplicate
2,NaN,NaN,NaN,NaN,52000.0,2020-01-05,+2341518524025,"Broadway, None",,
3,Li Okoro,22.0,NaN,NaN,70000.0,NaN,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,2021/13/01,NaN,"? Olu Obasanjo, PH",Helper,Good candidate
...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,NaN,NaN,NaN,2020-11-31,NaN,"100 Main St, None",Helper,Needs review
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,2020-11-31,NaN,"7 Olu Obasanjo, None",Mud Engineer,??
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,"None Aba Rd, PH",Mud Engineer,??
99,aisha lee,NaN,NaN,NaN,NaN,2020-00-12,+234703 9206910,"45B Sapele Rd, None",Intern,Entry incomplete

# Join_Date

In [47]:
df["Join_Date"] = pd.to_datetime(df["Join_Date"], errors="coerce")

C:\Users\somte\AppData\Local\Temp\ipykernel_9736\842995707.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Join_Date"] = pd.to_datetime(df["Join_Date"], errors="coerce")

In [48]:
#man = pd.to_datetime(df["Join_Date"], errors = "coerce")

In [49]:
calender = df["Join_Date"].astype(str)
date_shape = calender.str.match(r"\d{2}/\d{2}/\d{4}", na = False)
day = pd.to_numeric(calender.str.slice(0, 2), errors ="coerce")
month = pd.to_numeric(calender.str.slice(3, 5), errors = "coerce")

ambiguous_date = date_shape & (day<=12) & (month <=12)

df_safe = df.loc[~ambiguous_date].copy()
df_ambiguous = df.loc[ambiguous_date]

US_rows = df_ambiguous["Country"] == "United States of America"
other_places = df_ambiguous["Country"].isin(["United Kingdom", "Nigeria", "United Arab Emirates"])

df_ambiguous.loc[US_rows, "Join_Date"] = pd.to_datetime(df_ambiguous.loc[US_rows, "Join_Date"], dayfirst = False)
df_ambiguous.loc[other_places, "Join_Date"] = pd.to_datetime(df_ambiguous.loc[other_places, "Join_Date"], dayfirst = True)

In [50]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes
0,NaN,18.0,NaN,NaN,50000.0,NaT,NaN,"? Ikorodu Rd, PH",Helper,Duplicate
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,NaN,"7 Main St, PH",Intern,Duplicate
2,NaN,NaN,NaN,NaN,52000.0,2020-01-05,+2341518524025,"Broadway, None",,
3,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,"? Olu Obasanjo, PH",Helper,Good candidate
...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,NaN,NaN,NaN,NaT,NaN,"100 Main St, None",Helper,Needs review
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,"7 Olu Obasanjo, None",Mud Engineer,??
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,"None Aba Rd, PH",Mud Engineer,??
99,aisha lee,NaN,NaN,NaN,NaN,NaT,+234703 9206910,"45B Sapele Rd, None",Intern,Entry incomplete

In [51]:
pd.set_option('display.max.rows', 20)

In [52]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes
0,NaN,18.0,NaN,NaN,50000.0,NaT,NaN,"? Ikorodu Rd, PH",Helper,Duplicate
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,NaN,"7 Main St, PH",Intern,Duplicate
2,NaN,NaN,NaN,NaN,52000.0,2020-01-05,+2341518524025,"Broadway, None",,
3,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,"? Olu Obasanjo, PH",Helper,Good candidate
...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,NaN,NaN,NaN,NaT,NaN,"100 Main St, None",Helper,Needs review
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,"7 Olu Obasanjo, None",Mud Engineer,??
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,"None Aba Rd, PH",Mud Engineer,??
99,aisha lee,NaN,NaN,NaN,NaN,NaT,+234703 9206910,"45B Sapele Rd, None",Intern,Entry incomplete

In [53]:
df["Address"].str.split(',', expand = True)

                   0       1
0       ? Ikorodu Rd      PH
1          7 Main St      PH
2           Broadway    None
3   45B Olu Obasanjo    None
4     ? Olu Obasanjo      PH
..               ...     ...
95       100 Main St    None
96    7 Olu Obasanjo    None
97       7 Sapele Rd   Abuja
98       None Aba Rd      PH
99     45B Sapele Rd    None

[100 rows x 2 columns]

In [54]:
df[["Street", "State"]]= df["Address"].str.split(',', expand = True)

In [55]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes,Street,State
0,NaN,18.0,NaN,NaN,50000.0,NaT,NaN,"? Ikorodu Rd, PH",Helper,Duplicate,? Ikorodu Rd,PH
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,NaN,"7 Main St, PH",Intern,Duplicate,7 Main St,PH
2,NaN,NaN,NaN,NaN,52000.0,2020-01-05,+2341518524025,"Broadway, None",,,Broadway,None
3,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate,45B Olu Obasanjo,None
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,"? Olu Obasanjo, PH",Helper,Good candidate,? Olu Obasanjo,PH
...,...,...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,NaN,NaN,NaN,NaT,NaN,"100 Main St, None",Helper,Needs review,100 Main St,None
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,"7 Olu Obasanjo, None",Mud Engineer,??,7 Olu Obasanjo,None
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,"None Aba Rd, PH",Mud Engineer,??,None Aba Rd,PH
99,aisha lee,NaN,NaN,NaN,NaN,NaT,+234703 9206910,"45B Sapele Rd, None",Intern,Entry incomplete,45B Sapele Rd,None

In [56]:
df["Join_Date"] = pd.to_datetime(df["Join_Date"], errors = "coerce")

In [57]:
df["Street"]=df["Street"].str.strip("?.-_/")

In [58]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes,Street,State
0,NaN,18.0,NaN,NaN,50000.0,NaT,NaN,"? Ikorodu Rd, PH",Helper,Duplicate,Ikorodu Rd,PH
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,NaN,"7 Main St, PH",Intern,Duplicate,7 Main St,PH
2,NaN,NaN,NaN,NaN,52000.0,2020-01-05,+2341518524025,"Broadway, None",,,Broadway,None
3,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate,45B Olu Obasanjo,None
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,"? Olu Obasanjo, PH",Helper,Good candidate,Olu Obasanjo,PH
...,...,...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,NaN,NaN,NaN,NaT,NaN,"100 Main St, None",Helper,Needs review,100 Main St,None
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,"7 Olu Obasanjo, None",Mud Engineer,??,7 Olu Obasanjo,None
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,"None Aba Rd, PH",Mud Engineer,??,None Aba Rd,PH
99,aisha lee,NaN,NaN,NaN,NaN,NaT,+234703 9206910,"45B Sapele Rd, None",Intern,Entry incomplete,45B Sapele Rd,None

In [59]:
df["State"] = df["State"].str.strip()

In [60]:
df["State"] = df["State"].replace("PH", "Port-Harcourt")

In [61]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Address,Job_Title,Notes,Street,State
0,NaN,18.0,NaN,NaN,50000.0,NaT,NaN,"? Ikorodu Rd, PH",Helper,Duplicate,Ikorodu Rd,Port-Harcourt
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,NaN,"7 Main St, PH",Intern,Duplicate,7 Main St,Port-Harcourt
2,NaN,NaN,NaN,NaN,52000.0,2020-01-05,+2341518524025,"Broadway, None",,,Broadway,None
3,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,"45B Olu Obasanjo, None",Technician,Duplicate,45B Olu Obasanjo,None
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,"? Olu Obasanjo, PH",Helper,Good candidate,Olu Obasanjo,Port-Harcourt
...,...,...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,NaN,NaN,NaN,NaT,NaN,"100 Main St, None",Helper,Needs review,100 Main St,None
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,"7 Olu Obasanjo, None",Mud Engineer,??,7 Olu Obasanjo,None
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,"7 Sapele Rd, Abuja",Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,"None Aba Rd, PH",Mud Engineer,??,None Aba Rd,Port-Harcourt
99,aisha lee,NaN,NaN,NaN,NaN,NaT,+234703 9206910,"45B Sapele Rd, None",Intern,Entry incomplete,45B Sapele Rd,None

In [62]:
df = df.drop(columns = 'Address')

In [63]:
df

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
0,NaN,18.0,NaN,NaN,50000.0,NaT,NaN,Helper,Duplicate,Ikorodu Rd,Port-Harcourt
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,NaN,Intern,Duplicate,7 Main St,Port-Harcourt
2,NaN,NaN,NaN,NaN,52000.0,2020-01-05,+2341518524025,,,Broadway,None
3,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,None
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,Helper,Good candidate,Olu Obasanjo,Port-Harcourt
...,...,...,...,...,...,...,...,...,...,...,...
95,michael lee,31.0,NaN,NaN,NaN,NaT,NaN,Helper,Needs review,100 Main St,None
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,Mud Engineer,??,7 Olu Obasanjo,None
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,Mud Engineer,??,None Aba Rd,Port-Harcourt
99,aisha lee,NaN,NaN,NaN,NaN,NaT,+234703 9206910,Intern,Entry incomplete,45B Sapele Rd,None

In [64]:
df3 = df.replace(r"^\s*$", np.nan, regex = True)
pd.set_option('display.max.rows', 200)
df3["Name"] = df3["Name"].astype(str)
df3["Country"] = df3["Country"].astype(str)
df3["Email"] = df3["Email"].astype(str)
df3["Job_Title"] = df3["Job_Title"].astype(str)
df3["Notes"] = df3["Notes"].astype(str)
df3["Street"] = df3["Street"].astype(str)
df3["State"] = df3["State"].astype(str) 
pattern = r"^[A-Za-z0-9\s]$"
pattern2 = r"^[A-Za-z\s]{4,}$"
df3["Street"] = df3["Street"].str.strip()
Nota = df3["Notes"].str.match(pattern2, na = False)
Ogbe = df3["Street"].str.match(pattern, na = False)
Obodo = df3["State"].str.match(pattern2, na = False)
df3.loc[~Nota, "Notes"]= np.nan
df3.loc[~Ogbe, "Street"]= np.nan
df3.loc[~Obodo, "State"]= np.nan

In [65]:
#df["Salary"] = pd.to_numeric(df["Salary"], errors = "coerce")

In [66]:
df4 = df.replace(r"^\s*$", np.nan, regex = True)

In [67]:
pd.set_option('display.max.rows', 200)

In [68]:
df4["Name"] = df4["Name"].astype(str)
df4["Country"] = df4["Country"].astype(str)
df4["Email"] = df4["Email"].astype(str)
df4["Job_Title"] = df4["Job_Title"].astype(str)
df4["Notes"] = df4["Notes"].astype(str)
df4["Street"] = df4["Street"].astype(str)
df4["State"] = df4["State"].astype(str)

In [69]:
#df2 = df.replace(' ', 'nan')

In [70]:
pattern = r"^(?=.*\d)[A-Za-z0-9\s\-,\.]{7,}+$"
pattern2 = r"^[A-Za-z\s*\-]{4,}$"

In [71]:
df4["Street"] = df4["Street"].str.strip()

In [72]:
Nota = df4["Notes"].str.match(pattern2, na = False)
Ogbe = df4["Street"].str.match(pattern, na = False)
Obodo = df4["State"].str.match(pattern2, na = False)

In [73]:
df4.loc[~Nota, "Notes"]= np.nan
df4.loc[~Ogbe, "Street"]= np.nan
df4.loc[~Obodo, "State"]= np.nan

In [74]:
df4

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
0,nan,18.0,nan,nan,50000.0,NaT,NaN,Helper,Duplicate,NaN,Port-Harcourt
1,Jane L.,NaN,nan,nan,NaN,2022-01-01,NaN,Intern,Duplicate,7 Main St,Port-Harcourt
2,nan,NaN,nan,nan,52000.0,2020-01-05,+2341518524025,nan,NaN,NaN,None
3,Li Okoro,22.0,nan,nan,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,None
4,SUSAN OKORO,NaN,nan,United Arab Emirates,NaN,NaT,NaN,Helper,Good candidate,NaN,Port-Harcourt
5,nan,NaN,nan,nan,50000.0,2022-03-20,NaN,Data Analyst,Duplicate,NaN,NaN
6,Aisha Garcia,35.0,nan,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,7 Main St,NaN
7,nan,NaN,nan,United Arab Emirates,45000.0,NaT,+234703 2390161,nan,NaN,7 Ikorodu Rd,Kano
8,Anna I.,40.0,nan,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
9,Wei Okoro,31.0,nan,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
10,Bob S.,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs review,NaN,Port-Harcourt
11,nan,NaN,nan,nan,NaN,2022-03-20,+2343164269413,Technician,Entry incomplete,NaN,Kano
12,WEI O'CONNOR,NaN,nan,nan,52000.0,NaT,+2348087462952,Technician,See supervisor,7 Aba Rd,NaN
13,Mohammed S.,22.0,nan,nan,NaN,NaT,NaN,Senior Engineer,Duplicate,45B Ikorodu Rd,Abuja
14,Wei Garcia,31.0,nan,nan,NaN,NaT,NaN,Mud Engineer,See supervisor,NaN,Abuja
15,anna ali,29.0,nan,United Arab Emirates,70000.0,NaT,+234703 5951980,Data Analyst,Check details,45B Olu Obasanjo,None
16,Anna Garcia,NaN,nan,nan,NaN,2020-01-05,NaN,Senior Engineer,Check details,NaN,NaN
17,ANNA SMITH,NaN,nan,nan,50000.0,2020-01-05,+234703 4169525,nan,Entry incomplete,NaN,NaN
18,aisha doe,29.0,nan,nan,NaN,2021-05-02,+2345461704436,nan,NaN,NaN,Abuja
19,john kumar,NaN,nan,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good candidate,12 Sapele Rd,Port-Harcourt
20,nan,29.0,x@mail.com,nan,NaN,NaT,NaN,Helper,NaN,12 Aba Rd,Abuja
21,Li Ivanov,NaN,nan,nan,60000.0,NaT,NaN,Mud Engineer,Needs review,NaN,Port-Harcourt
22,aisha kumar,30.0,aishakumar@example.com,nan,NaN,2022-01-01,+234703 0961913,Helper,Check details,NaN,None
23,Mohammed Kumar,NaN,nan,nan,70000.0,2021-07-15,+234703 7279072,nan,Good candidate,NaN,Abuja
24,aisha ivanov,NaN,nan,United Kingdom,NaN,NaT,NaN,Helper,See supervisor,NaN,Lagos
25,nan,22.0,x@example.com,nan,45000.0,2022-03-20,+2344720832979,Mud Engineer,NaN,NaN,Lagos
26,Wei O.,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+234703 3064820,Mud Engineer,NaN,NaN,Lagos
27,WEI IVANOV,NaN,nan,nan,NaN,2022-03-20,+234703 6013570,Senior Engineer,Entry incomplete,45B Sapele Rd,Kano
28,Tunde G.,31.0,nan,nan,NaN,2022-01-01,NaN,nan,See supervisor,NaN,Abuja
29,Susan Kumar,NaN,nan,United Arab Emirates,50000.0,2022-01-01,+234703 1839405,Intern,NaN,NaN,Kano
30,WEI IVANOV,31.0,weiivanov@example.com,nan,52000.0,NaT,NaN,nan,Duplicate,NaN,Kano
31,Li L.,18.0,nan,United Kingdom,50000.0,2021-05-02,NaN,nan,Check details,NaN,NaN
32,nan,25.0,nan,nan,50000.0,2021-07-15,NaN,Helper,NaN,100 Main St,Abuja
33,nan,NaN,nan,nan,60000.0,NaT,+234703 0279875,nan,Good candidate,NaN,Lagos
34,GRACE IVANOV,NaN,graceivanov@example.com,nan,NaN,NaT,+2348038892034,Technician,Needs review,NaN,Port-Harcourt
35,Li I.,NaN,lii.@example.com,nan,70000.0,NaT,NaN,Intern,See supervisor,NaN,Abuja
36,Tunde G.,31.0,nan,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check details,NaN,Lagos
37,Bob L.,25.0,nan,nan,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check details,NaN,Port-Harcourt
38,Li I.,25.0,nan,nan,45000.0,NaT,+234703 4042152,Mud Engineer,Duplicate,NaN,Abuja
39,nan,NaN,nan,nan,60000.0,2021-07-15,+234703 5303283,Senior Engineer,NaN,NaN,Port-Harcourt
40,Aisha Lee,NaN,aishalee@mail.com,nan,70000.0,NaT,NaN,Mud Engineer,Entry incomplete,NaN,Lagos
41,nan,40.0,nan,nan,NaN,2020-01-05,NaN,Mud Engineer,Good candidate,NaN,Port-Harcourt
42,nan,31.0,x@example.com,nan,NaN,NaT,+2348081621069,Data Analyst,NaN,NaN,Kano
43,Mohammed Garcia,35.0,nan,nan,NaN,NaT,NaN,Intern,Check details,12 Sapele Rd,Lagos
44,Anna K.,31.0,nan,United States of America,52000.0,2020-01-05,NaN,Intern,Good candidate,7 Olu Obasanjo,Abuja
45,LI OKORO,NaN,nan,nan,NaN,NaT,+234703 7666918,nan,NaN,NaN,Lagos
46,Michael Smith,NaN,nan,nan,52000.0,2022-03-20,NaN,Senior Engineer,NaN,7 Olu Obasanjo,Lagos
47,Li A.,31.0,nan,nan,NaN,NaT,NaN,Senior Engineer,Entry incomplete,NaN,Kano
48,Wei O.,29.0,nan,nan,NaN,NaT,NaN,Helper,NaN,NaN,None
49,li garcia,40.0,nan,United States of America,70000.0,2020-01-05,NaN,Intern,Check details,NaN,None
50,JOHN LEE,40.0,nan,nan,NaN,2022-03-20,+2344491716791,nan,Duplicate,NaN,None
51,Grace Doe,35.0,gracedoe@mail.com,nan,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
52,nan,30.0,nan,nan,NaN,NaT,+2342433512694,Data Analyst,Good candidate,NaN,Kano
53,Anna Okoro,30.0,nan,nan,70000.0,NaT,+2348921916409,Mud Engineer,See supervisor,100 Aba Rd,Kano
54,michael doe,NaN,nan,nan,NaN,NaT,NaN,Senior Engineer,NaN,NaN,Port-Harcourt
55,Susan Smith,31.0,nan,nan,52000.0,NaT,NaN,nan,Entry incomplete,NaN,Kano
56,jane ali,18.0,nan,nan,NaN,2021-05-02,+2348054230493,Data Analyst,See supervisor,NaN,Lagos
57,Anna Okoro,NaN,nan,United States of America,70000.0,2021-05-02,NaN,Technician,Needs review,NaN,Kano
58,grace smith,18.0,nan,nan,45000.0,NaT,+2348017236641,Senior Engineer,Needs review,NaN,NaN
59,Bob Ali,NaN,nan,nan,52000.0,NaT,NaN,Technician,NaN,100 Main St,Lagos
60,Jane Kumar,22.0,janekumar@mail.com,nan,52000.0,2022-01-01,NaN,Helper,NaN,12 Aba Rd,Abuja
61,nan,NaN,nan,nan,60000.0,NaT,+2348050561715,Technician,Good candidate,NaN,None
62,aisha garcia,NaN,nan,nan,NaN,2021-07-15,NaN,nan,NaN,NaN,Port-Harcourt
63,nan,NaN,nan,nan,NaN,NaT,+2345137639581,nan,Good candidate,12 Broadway,Lagos
64,Mohammed Smith,NaN,nan,nan,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
65,susan o'connor,NaN,nan,nan,NaN,NaT,NaN,Helper,NaN,NaN,Port-Harcourt
66,Grace Garcia,NaN,nan,United Arab Emirates,70000.0,NaT,+234703 3696429,Mud Engineer,Needs review,NaN,None
67,nan,NaN,nan,nan,NaN,NaT,NaN,Senior Engineer,Duplicate,NaN,None
68,AISHA DOE,29.0,nan,nan,45000.0,2022-01-01,NaN,Technician,Check details,45B Broadway,Kano
69,BOB DOE,NaN,nan,nan,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,Port-Harcourt
70,Anna Okoro,30.0,nan,nan,NaN,NaT,NaN,Technician,See supervisor,7 Olu Obasanjo,NaN
71,Jane Ali,18.0,janeali@mail.com,nan,50000.0,NaT,+2348025520377,nan,Entry incomplete,NaN,NaN
72,nan,NaN,x@example.com,nan,45000.0,NaT,NaN,Intern,Duplicate,NaN,None
73,nan,25.0,nan,United Arab Emirates,NaN,NaT,+2348035135236,nan,Good candidate,12 Main St,None
74,Li O.,25.0,nan,nan,NaN,NaT,+234703 0717028,Data Analyst,See supervisor,NaN,Lagos
75,nan,NaN,x@example.com,nan,NaN,2020-01-05,+2348035591418,Mud Engineer,Needs review,7 Sapele Rd,Abuja
76,Anna L.,22.0,nan,nan,50000.0,2021-07-15,NaN,Senior Engineer,Check details,7 Ikorodu Rd,Kano
77,Tunde I.,NaN,nan,nan,NaN,2022-03-20,NaN,Data Analyst,NaN,12 Main St,Port-Harcourt
78,Anna Kumar,31.0,nan,nan,NaN,NaT,+2348098511220,Intern,NaN,NaN,None
79,Anna O.,NaN,nan,nan,70000.0,NaT,NaN,Senior Engineer,Needs review,NaN,NaN
80,aisha doe,NaN,nan,United States of America,60000.0,NaT,+234703 7057116,Intern,Duplicate,100 Sapele Rd,Kano
81,Li Garcia,22.0,nan,nan,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
82,jane kumar,NaN,nan,United Kingdom,NaN,NaT,NaN,Intern,Good candidate,100 Main St,NaN
83,Bob K.,22.0,nan,nan,52000.0,NaT,NaN,Intern,See supervisor,12 Olu Obasanjo,Abuja
84,Michael S.,40.0,nan,nan,70000.0,2020-01-05,NaN,Mud Engineer,Needs review,NaN,Kano
85,JANE IVANOV,35.0,nan,nan,NaN,2020-01-05,NaN,nan,NaN,12 Ikorodu Rd,Port-Harcourt
86,Mohammed Ali,40.0,nan,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,Port-Harcourt
87,Aisha Kumar,NaN,nan,nan,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs review,NaN,NaN
88,nan,22.0,nan,nan,45000.0,2020-01-05,NaN,Senior Engineer,Good candidate,7 Sapele Rd,Kano
89,Anna Doe,NaN,annadoe@mail.com,nan,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
90,nan,40.0,nan,nan,50000.0,2022-03-20,+234703 1695879,Data Analyst,NaN,12 Aba Rd,Abuja
91,MOHAMMED KUMAR,29.0,nan,nan,NaN,2020-01-05,+2340712768631,nan,NaN,NaN,Lagos
92,LI O'CONNOR,25.0,nan,United Kingdom,NaN,2022-03-20,NaN,Technician,See supervisor,45B Ikorodu Rd,Port-Harcourt
93,li garcia,NaN,nan,nan,NaN,2020-01-05,+2348670630597,Helper,Duplicate,NaN,Lagos
94,BOB OKORO,25.0,nan,nan,NaN,2021-05-02,NaN,Mud Engineer,Check details,100 Broadway,None
95,michael lee,31.0,nan,nan,NaN,NaT,NaN,Helper,Needs review,100 Main St,None
96,jane doe,35.0,janedoe@mail.com,nan,NaN,NaT,NaN,Mud Engineer,NaN,7 Olu Obasanjo,None
97,Grace L.,NaN,nan,United Kingdom,NaN,2020-01-05,+234703 2502622,Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
98,LI SMITH,29.0,nan,United States of America,50000.0,2021-07-15,+234703 0004383,Mud Engineer,NaN,NaN,Port-Harcourt
99,aisha lee,NaN,nan,nan,NaN,NaT,+234703 9206910,Intern,Entry incomplete,45B Sapele Rd,None

In [75]:
for x in df4.index:
    if df4.loc[x, "Name"] == 'nan':
        df4.drop(x, inplace = True)

df4

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
1,Jane L.,NaN,nan,nan,NaN,2022-01-01,NaN,Intern,Duplicate,7 Main St,Port-Harcourt
3,Li Okoro,22.0,nan,nan,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,None
4,SUSAN OKORO,NaN,nan,United Arab Emirates,NaN,NaT,NaN,Helper,Good candidate,NaN,Port-Harcourt
6,Aisha Garcia,35.0,nan,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,7 Main St,NaN
8,Anna I.,40.0,nan,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
9,Wei Okoro,31.0,nan,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
10,Bob S.,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs review,NaN,Port-Harcourt
12,WEI O'CONNOR,NaN,nan,nan,52000.0,NaT,+2348087462952,Technician,See supervisor,7 Aba Rd,NaN
13,Mohammed S.,22.0,nan,nan,NaN,NaT,NaN,Senior Engineer,Duplicate,45B Ikorodu Rd,Abuja
14,Wei Garcia,31.0,nan,nan,NaN,NaT,NaN,Mud Engineer,See supervisor,NaN,Abuja
15,anna ali,29.0,nan,United Arab Emirates,70000.0,NaT,+234703 5951980,Data Analyst,Check details,45B Olu Obasanjo,None
16,Anna Garcia,NaN,nan,nan,NaN,2020-01-05,NaN,Senior Engineer,Check details,NaN,NaN
17,ANNA SMITH,NaN,nan,nan,50000.0,2020-01-05,+234703 4169525,nan,Entry incomplete,NaN,NaN
18,aisha doe,29.0,nan,nan,NaN,2021-05-02,+2345461704436,nan,NaN,NaN,Abuja
19,john kumar,NaN,nan,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good candidate,12 Sapele Rd,Port-Harcourt
21,Li Ivanov,NaN,nan,nan,60000.0,NaT,NaN,Mud Engineer,Needs review,NaN,Port-Harcourt
22,aisha kumar,30.0,aishakumar@example.com,nan,NaN,2022-01-01,+234703 0961913,Helper,Check details,NaN,None
23,Mohammed Kumar,NaN,nan,nan,70000.0,2021-07-15,+234703 7279072,nan,Good candidate,NaN,Abuja
24,aisha ivanov,NaN,nan,United Kingdom,NaN,NaT,NaN,Helper,See supervisor,NaN,Lagos
26,Wei O.,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+234703 3064820,Mud Engineer,NaN,NaN,Lagos
27,WEI IVANOV,NaN,nan,nan,NaN,2022-03-20,+234703 6013570,Senior Engineer,Entry incomplete,45B Sapele Rd,Kano
28,Tunde G.,31.0,nan,nan,NaN,2022-01-01,NaN,nan,See supervisor,NaN,Abuja
29,Susan Kumar,NaN,nan,United Arab Emirates,50000.0,2022-01-01,+234703 1839405,Intern,NaN,NaN,Kano
30,WEI IVANOV,31.0,weiivanov@example.com,nan,52000.0,NaT,NaN,nan,Duplicate,NaN,Kano
31,Li L.,18.0,nan,United Kingdom,50000.0,2021-05-02,NaN,nan,Check details,NaN,NaN
34,GRACE IVANOV,NaN,graceivanov@example.com,nan,NaN,NaT,+2348038892034,Technician,Needs review,NaN,Port-Harcourt
35,Li I.,NaN,lii.@example.com,nan,70000.0,NaT,NaN,Intern,See supervisor,NaN,Abuja
36,Tunde G.,31.0,nan,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check details,NaN,Lagos
37,Bob L.,25.0,nan,nan,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check details,NaN,Port-Harcourt
38,Li I.,25.0,nan,nan,45000.0,NaT,+234703 4042152,Mud Engineer,Duplicate,NaN,Abuja
40,Aisha Lee,NaN,aishalee@mail.com,nan,70000.0,NaT,NaN,Mud Engineer,Entry incomplete,NaN,Lagos
43,Mohammed Garcia,35.0,nan,nan,NaN,NaT,NaN,Intern,Check details,12 Sapele Rd,Lagos
44,Anna K.,31.0,nan,United States of America,52000.0,2020-01-05,NaN,Intern,Good candidate,7 Olu Obasanjo,Abuja
45,LI OKORO,NaN,nan,nan,NaN,NaT,+234703 7666918,nan,NaN,NaN,Lagos
46,Michael Smith,NaN,nan,nan,52000.0,2022-03-20,NaN,Senior Engineer,NaN,7 Olu Obasanjo,Lagos
47,Li A.,31.0,nan,nan,NaN,NaT,NaN,Senior Engineer,Entry incomplete,NaN,Kano
48,Wei O.,29.0,nan,nan,NaN,NaT,NaN,Helper,NaN,NaN,None
49,li garcia,40.0,nan,United States of America,70000.0,2020-01-05,NaN,Intern,Check details,NaN,None
50,JOHN LEE,40.0,nan,nan,NaN,2022-03-20,+2344491716791,nan,Duplicate,NaN,None
51,Grace Doe,35.0,gracedoe@mail.com,nan,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
53,Anna Okoro,30.0,nan,nan,70000.0,NaT,+2348921916409,Mud Engineer,See supervisor,100 Aba Rd,Kano
54,michael doe,NaN,nan,nan,NaN,NaT,NaN,Senior Engineer,NaN,NaN,Port-Harcourt
55,Susan Smith,31.0,nan,nan,52000.0,NaT,NaN,nan,Entry incomplete,NaN,Kano
56,jane ali,18.0,nan,nan,NaN,2021-05-02,+2348054230493,Data Analyst,See supervisor,NaN,Lagos
57,Anna Okoro,NaN,nan,United States of America,70000.0,2021-05-02,NaN,Technician,Needs review,NaN,Kano
58,grace smith,18.0,nan,nan,45000.0,NaT,+2348017236641,Senior Engineer,Needs review,NaN,NaN
59,Bob Ali,NaN,nan,nan,52000.0,NaT,NaN,Technician,NaN,100 Main St,Lagos
60,Jane Kumar,22.0,janekumar@mail.com,nan,52000.0,2022-01-01,NaN,Helper,NaN,12 Aba Rd,Abuja
62,aisha garcia,NaN,nan,nan,NaN,2021-07-15,NaN,nan,NaN,NaN,Port-Harcourt
64,Mohammed Smith,NaN,nan,nan,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
65,susan o'connor,NaN,nan,nan,NaN,NaT,NaN,Helper,NaN,NaN,Port-Harcourt
66,Grace Garcia,NaN,nan,United Arab Emirates,70000.0,NaT,+234703 3696429,Mud Engineer,Needs review,NaN,None
68,AISHA DOE,29.0,nan,nan,45000.0,2022-01-01,NaN,Technician,Check details,45B Broadway,Kano
69,BOB DOE,NaN,nan,nan,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,Port-Harcourt
70,Anna Okoro,30.0,nan,nan,NaN,NaT,NaN,Technician,See supervisor,7 Olu Obasanjo,NaN
71,Jane Ali,18.0,janeali@mail.com,nan,50000.0,NaT,+2348025520377,nan,Entry incomplete,NaN,NaN
74,Li O.,25.0,nan,nan,NaN,NaT,+234703 0717028,Data Analyst,See supervisor,NaN,Lagos
76,Anna L.,22.0,nan,nan,50000.0,2021-07-15,NaN,Senior Engineer,Check details,7 Ikorodu Rd,Kano
77,Tunde I.,NaN,nan,nan,NaN,2022-03-20,NaN,Data Analyst,NaN,12 Main St,Port-Harcourt
78,Anna Kumar,31.0,nan,nan,NaN,NaT,+2348098511220,Intern,NaN,NaN,None
79,Anna O.,NaN,nan,nan,70000.0,NaT,NaN,Senior Engineer,Needs review,NaN,NaN
80,aisha doe,NaN,nan,United States of America,60000.0,NaT,+234703 7057116,Intern,Duplicate,100 Sapele Rd,Kano
81,Li Garcia,22.0,nan,nan,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
82,jane kumar,NaN,nan,United Kingdom,NaN,NaT,NaN,Intern,Good candidate,100 Main St,NaN
83,Bob K.,22.0,nan,nan,52000.0,NaT,NaN,Intern,See supervisor,12 Olu Obasanjo,Abuja
84,Michael S.,40.0,nan,nan,70000.0,2020-01-05,NaN,Mud Engineer,Needs review,NaN,Kano
85,JANE IVANOV,35.0,nan,nan,NaN,2020-01-05,NaN,nan,NaN,12 Ikorodu Rd,Port-Harcourt
86,Mohammed Ali,40.0,nan,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,Port-Harcourt
87,Aisha Kumar,NaN,nan,nan,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs review,NaN,NaN
89,Anna Doe,NaN,annadoe@mail.com,nan,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
91,MOHAMMED KUMAR,29.0,nan,nan,NaN,2020-01-05,+2340712768631,nan,NaN,NaN,Lagos
92,LI O'CONNOR,25.0,nan,United Kingdom,NaN,2022-03-20,NaN,Technician,See supervisor,45B Ikorodu Rd,Port-Harcourt
93,li garcia,NaN,nan,nan,NaN,2020-01-05,+2348670630597,Helper,Duplicate,NaN,Lagos
94,BOB OKORO,25.0,nan,nan,NaN,2021-05-02,NaN,Mud Engineer,Check details,100 Broadway,None
95,michael lee,31.0,nan,nan,NaN,NaT,NaN,Helper,Needs review,100 Main St,None
96,jane doe,35.0,janedoe@mail.com,nan,NaN,NaT,NaN,Mud Engineer,NaN,7 Olu Obasanjo,None
97,Grace L.,NaN,nan,United Kingdom,NaN,2020-01-05,+234703 2502622,Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
98,LI SMITH,29.0,nan,United States of America,50000.0,2021-07-15,+234703 0004383,Mud Engineer,NaN,NaN,Port-Harcourt
99,aisha lee,NaN,nan,nan,NaN,NaT,+234703 9206910,Intern,Entry incomplete,45B Sapele Rd,None

In [76]:
df4["Email"]= df4["Email"].replace("nan", np.nan)
df4

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
1,Jane L.,NaN,NaN,nan,NaN,2022-01-01,NaN,Intern,Duplicate,7 Main St,Port-Harcourt
3,Li Okoro,22.0,NaN,nan,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,None
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,Helper,Good candidate,NaN,Port-Harcourt
6,Aisha Garcia,35.0,NaN,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,7 Main St,NaN
8,Anna I.,40.0,NaN,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
9,Wei Okoro,31.0,NaN,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
10,Bob S.,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs review,NaN,Port-Harcourt
12,WEI O'CONNOR,NaN,NaN,nan,52000.0,NaT,+2348087462952,Technician,See supervisor,7 Aba Rd,NaN
13,Mohammed S.,22.0,NaN,nan,NaN,NaT,NaN,Senior Engineer,Duplicate,45B Ikorodu Rd,Abuja
14,Wei Garcia,31.0,NaN,nan,NaN,NaT,NaN,Mud Engineer,See supervisor,NaN,Abuja
15,anna ali,29.0,NaN,United Arab Emirates,70000.0,NaT,+234703 5951980,Data Analyst,Check details,45B Olu Obasanjo,None
16,Anna Garcia,NaN,NaN,nan,NaN,2020-01-05,NaN,Senior Engineer,Check details,NaN,NaN
17,ANNA SMITH,NaN,NaN,nan,50000.0,2020-01-05,+234703 4169525,nan,Entry incomplete,NaN,NaN
18,aisha doe,29.0,NaN,nan,NaN,2021-05-02,+2345461704436,nan,NaN,NaN,Abuja
19,john kumar,NaN,NaN,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good candidate,12 Sapele Rd,Port-Harcourt
21,Li Ivanov,NaN,NaN,nan,60000.0,NaT,NaN,Mud Engineer,Needs review,NaN,Port-Harcourt
22,aisha kumar,30.0,aishakumar@example.com,nan,NaN,2022-01-01,+234703 0961913,Helper,Check details,NaN,None
23,Mohammed Kumar,NaN,NaN,nan,70000.0,2021-07-15,+234703 7279072,nan,Good candidate,NaN,Abuja
24,aisha ivanov,NaN,NaN,United Kingdom,NaN,NaT,NaN,Helper,See supervisor,NaN,Lagos
26,Wei O.,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+234703 3064820,Mud Engineer,NaN,NaN,Lagos
27,WEI IVANOV,NaN,NaN,nan,NaN,2022-03-20,+234703 6013570,Senior Engineer,Entry incomplete,45B Sapele Rd,Kano
28,Tunde G.,31.0,NaN,nan,NaN,2022-01-01,NaN,nan,See supervisor,NaN,Abuja
29,Susan Kumar,NaN,NaN,United Arab Emirates,50000.0,2022-01-01,+234703 1839405,Intern,NaN,NaN,Kano
30,WEI IVANOV,31.0,weiivanov@example.com,nan,52000.0,NaT,NaN,nan,Duplicate,NaN,Kano
31,Li L.,18.0,NaN,United Kingdom,50000.0,2021-05-02,NaN,nan,Check details,NaN,NaN
34,GRACE IVANOV,NaN,graceivanov@example.com,nan,NaN,NaT,+2348038892034,Technician,Needs review,NaN,Port-Harcourt
35,Li I.,NaN,lii.@example.com,nan,70000.0,NaT,NaN,Intern,See supervisor,NaN,Abuja
36,Tunde G.,31.0,NaN,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check details,NaN,Lagos
37,Bob L.,25.0,NaN,nan,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check details,NaN,Port-Harcourt
38,Li I.,25.0,NaN,nan,45000.0,NaT,+234703 4042152,Mud Engineer,Duplicate,NaN,Abuja
40,Aisha Lee,NaN,aishalee@mail.com,nan,70000.0,NaT,NaN,Mud Engineer,Entry incomplete,NaN,Lagos
43,Mohammed Garcia,35.0,NaN,nan,NaN,NaT,NaN,Intern,Check details,12 Sapele Rd,Lagos
44,Anna K.,31.0,NaN,United States of America,52000.0,2020-01-05,NaN,Intern,Good candidate,7 Olu Obasanjo,Abuja
45,LI OKORO,NaN,NaN,nan,NaN,NaT,+234703 7666918,nan,NaN,NaN,Lagos
46,Michael Smith,NaN,NaN,nan,52000.0,2022-03-20,NaN,Senior Engineer,NaN,7 Olu Obasanjo,Lagos
47,Li A.,31.0,NaN,nan,NaN,NaT,NaN,Senior Engineer,Entry incomplete,NaN,Kano
48,Wei O.,29.0,NaN,nan,NaN,NaT,NaN,Helper,NaN,NaN,None
49,li garcia,40.0,NaN,United States of America,70000.0,2020-01-05,NaN,Intern,Check details,NaN,None
50,JOHN LEE,40.0,NaN,nan,NaN,2022-03-20,+2344491716791,nan,Duplicate,NaN,None
51,Grace Doe,35.0,gracedoe@mail.com,nan,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
53,Anna Okoro,30.0,NaN,nan,70000.0,NaT,+2348921916409,Mud Engineer,See supervisor,100 Aba Rd,Kano
54,michael doe,NaN,NaN,nan,NaN,NaT,NaN,Senior Engineer,NaN,NaN,Port-Harcourt
55,Susan Smith,31.0,NaN,nan,52000.0,NaT,NaN,nan,Entry incomplete,NaN,Kano
56,jane ali,18.0,NaN,nan,NaN,2021-05-02,+2348054230493,Data Analyst,See supervisor,NaN,Lagos
57,Anna Okoro,NaN,NaN,United States of America,70000.0,2021-05-02,NaN,Technician,Needs review,NaN,Kano
58,grace smith,18.0,NaN,nan,45000.0,NaT,+2348017236641,Senior Engineer,Needs review,NaN,NaN
59,Bob Ali,NaN,NaN,nan,52000.0,NaT,NaN,Technician,NaN,100 Main St,Lagos
60,Jane Kumar,22.0,janekumar@mail.com,nan,52000.0,2022-01-01,NaN,Helper,NaN,12 Aba Rd,Abuja
62,aisha garcia,NaN,NaN,nan,NaN,2021-07-15,NaN,nan,NaN,NaN,Port-Harcourt
64,Mohammed Smith,NaN,NaN,nan,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
65,susan o'connor,NaN,NaN,nan,NaN,NaT,NaN,Helper,NaN,NaN,Port-Harcourt
66,Grace Garcia,NaN,NaN,United Arab Emirates,70000.0,NaT,+234703 3696429,Mud Engineer,Needs review,NaN,None
68,AISHA DOE,29.0,NaN,nan,45000.0,2022-01-01,NaN,Technician,Check details,45B Broadway,Kano
69,BOB DOE,NaN,NaN,nan,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,Port-Harcourt
70,Anna Okoro,30.0,NaN,nan,NaN,NaT,NaN,Technician,See supervisor,7 Olu Obasanjo,NaN
71,Jane Ali,18.0,janeali@mail.com,nan,50000.0,NaT,+2348025520377,nan,Entry incomplete,NaN,NaN
74,Li O.,25.0,NaN,nan,NaN,NaT,+234703 0717028,Data Analyst,See supervisor,NaN,Lagos
76,Anna L.,22.0,NaN,nan,50000.0,2021-07-15,NaN,Senior Engineer,Check details,7 Ikorodu Rd,Kano
77,Tunde I.,NaN,NaN,nan,NaN,2022-03-20,NaN,Data Analyst,NaN,12 Main St,Port-Harcourt
78,Anna Kumar,31.0,NaN,nan,NaN,NaT,+2348098511220,Intern,NaN,NaN,None
79,Anna O.,NaN,NaN,nan,70000.0,NaT,NaN,Senior Engineer,Needs review,NaN,NaN
80,aisha doe,NaN,NaN,United States of America,60000.0,NaT,+234703 7057116,Intern,Duplicate,100 Sapele Rd,Kano
81,Li Garcia,22.0,NaN,nan,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
82,jane kumar,NaN,NaN,United Kingdom,NaN,NaT,NaN,Intern,Good candidate,100 Main St,NaN
83,Bob K.,22.0,NaN,nan,52000.0,NaT,NaN,Intern,See supervisor,12 Olu Obasanjo,Abuja
84,Michael S.,40.0,NaN,nan,70000.0,2020-01-05,NaN,Mud Engineer,Needs review,NaN,Kano
85,JANE IVANOV,35.0,NaN,nan,NaN,2020-01-05,NaN,nan,NaN,12 Ikorodu Rd,Port-Harcourt
86,Mohammed Ali,40.0,NaN,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,Port-Harcourt
87,Aisha Kumar,NaN,NaN,nan,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs review,NaN,NaN
89,Anna Doe,NaN,annadoe@mail.com,nan,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
91,MOHAMMED KUMAR,29.0,NaN,nan,NaN,2020-01-05,+2340712768631,nan,NaN,NaN,Lagos
92,LI O'CONNOR,25.0,NaN,United Kingdom,NaN,2022-03-20,NaN,Technician,See supervisor,45B Ikorodu Rd,Port-Harcourt
93,li garcia,NaN,NaN,nan,NaN,2020-01-05,+2348670630597,Helper,Duplicate,NaN,Lagos
94,BOB OKORO,25.0,NaN,nan,NaN,2021-05-02,NaN,Mud Engineer,Check details,100 Broadway,None
95,michael lee,31.0,NaN,nan,NaN,NaT,NaN,Helper,Needs review,100 Main St,None
96,jane doe,35.0,janedoe@mail.com,nan,NaN,NaT,NaN,Mud Engineer,NaN,7 Olu Obasanjo,None
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,Mud Engineer,NaN,NaN,Port-Harcourt
99,aisha lee,NaN,NaN,nan,NaN,NaT,+234703 9206910,Intern,Entry incomplete,45B Sapele Rd,None

In [77]:
df4["Country"]= df4["Country"].replace("nan", np.nan)
df4

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
1,Jane L.,NaN,NaN,NaN,NaN,2022-01-01,NaN,Intern,Duplicate,7 Main St,Port-Harcourt
3,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,None
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,Helper,Good candidate,NaN,Port-Harcourt
6,Aisha Garcia,35.0,NaN,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,7 Main St,NaN
8,Anna I.,40.0,NaN,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
9,Wei Okoro,31.0,NaN,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
10,Bob S.,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs review,NaN,Port-Harcourt
12,WEI O'CONNOR,NaN,NaN,NaN,52000.0,NaT,+2348087462952,Technician,See supervisor,7 Aba Rd,NaN
13,Mohammed S.,22.0,NaN,NaN,NaN,NaT,NaN,Senior Engineer,Duplicate,45B Ikorodu Rd,Abuja
14,Wei Garcia,31.0,NaN,NaN,NaN,NaT,NaN,Mud Engineer,See supervisor,NaN,Abuja
15,anna ali,29.0,NaN,United Arab Emirates,70000.0,NaT,+234703 5951980,Data Analyst,Check details,45B Olu Obasanjo,None
16,Anna Garcia,NaN,NaN,NaN,NaN,2020-01-05,NaN,Senior Engineer,Check details,NaN,NaN
17,ANNA SMITH,NaN,NaN,NaN,50000.0,2020-01-05,+234703 4169525,nan,Entry incomplete,NaN,NaN
18,aisha doe,29.0,NaN,NaN,NaN,2021-05-02,+2345461704436,nan,NaN,NaN,Abuja
19,john kumar,NaN,NaN,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good candidate,12 Sapele Rd,Port-Harcourt
21,Li Ivanov,NaN,NaN,NaN,60000.0,NaT,NaN,Mud Engineer,Needs review,NaN,Port-Harcourt
22,aisha kumar,30.0,aishakumar@example.com,NaN,NaN,2022-01-01,+234703 0961913,Helper,Check details,NaN,None
23,Mohammed Kumar,NaN,NaN,NaN,70000.0,2021-07-15,+234703 7279072,nan,Good candidate,NaN,Abuja
24,aisha ivanov,NaN,NaN,United Kingdom,NaN,NaT,NaN,Helper,See supervisor,NaN,Lagos
26,Wei O.,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+234703 3064820,Mud Engineer,NaN,NaN,Lagos
27,WEI IVANOV,NaN,NaN,NaN,NaN,2022-03-20,+234703 6013570,Senior Engineer,Entry incomplete,45B Sapele Rd,Kano
28,Tunde G.,31.0,NaN,NaN,NaN,2022-01-01,NaN,nan,See supervisor,NaN,Abuja
29,Susan Kumar,NaN,NaN,United Arab Emirates,50000.0,2022-01-01,+234703 1839405,Intern,NaN,NaN,Kano
30,WEI IVANOV,31.0,weiivanov@example.com,NaN,52000.0,NaT,NaN,nan,Duplicate,NaN,Kano
31,Li L.,18.0,NaN,United Kingdom,50000.0,2021-05-02,NaN,nan,Check details,NaN,NaN
34,GRACE IVANOV,NaN,graceivanov@example.com,NaN,NaN,NaT,+2348038892034,Technician,Needs review,NaN,Port-Harcourt
35,Li I.,NaN,lii.@example.com,NaN,70000.0,NaT,NaN,Intern,See supervisor,NaN,Abuja
36,Tunde G.,31.0,NaN,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check details,NaN,Lagos
37,Bob L.,25.0,NaN,NaN,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check details,NaN,Port-Harcourt
38,Li I.,25.0,NaN,NaN,45000.0,NaT,+234703 4042152,Mud Engineer,Duplicate,NaN,Abuja
40,Aisha Lee,NaN,aishalee@mail.com,NaN,70000.0,NaT,NaN,Mud Engineer,Entry incomplete,NaN,Lagos
43,Mohammed Garcia,35.0,NaN,NaN,NaN,NaT,NaN,Intern,Check details,12 Sapele Rd,Lagos
44,Anna K.,31.0,NaN,United States of America,52000.0,2020-01-05,NaN,Intern,Good candidate,7 Olu Obasanjo,Abuja
45,LI OKORO,NaN,NaN,NaN,NaN,NaT,+234703 7666918,nan,NaN,NaN,Lagos
46,Michael Smith,NaN,NaN,NaN,52000.0,2022-03-20,NaN,Senior Engineer,NaN,7 Olu Obasanjo,Lagos
47,Li A.,31.0,NaN,NaN,NaN,NaT,NaN,Senior Engineer,Entry incomplete,NaN,Kano
48,Wei O.,29.0,NaN,NaN,NaN,NaT,NaN,Helper,NaN,NaN,None
49,li garcia,40.0,NaN,United States of America,70000.0,2020-01-05,NaN,Intern,Check details,NaN,None
50,JOHN LEE,40.0,NaN,NaN,NaN,2022-03-20,+2344491716791,nan,Duplicate,NaN,None
51,Grace Doe,35.0,gracedoe@mail.com,NaN,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
53,Anna Okoro,30.0,NaN,NaN,70000.0,NaT,+2348921916409,Mud Engineer,See supervisor,100 Aba Rd,Kano
54,michael doe,NaN,NaN,NaN,NaN,NaT,NaN,Senior Engineer,NaN,NaN,Port-Harcourt
55,Susan Smith,31.0,NaN,NaN,52000.0,NaT,NaN,nan,Entry incomplete,NaN,Kano
56,jane ali,18.0,NaN,NaN,NaN,2021-05-02,+2348054230493,Data Analyst,See supervisor,NaN,Lagos
57,Anna Okoro,NaN,NaN,United States of America,70000.0,2021-05-02,NaN,Technician,Needs review,NaN,Kano
58,grace smith,18.0,NaN,NaN,45000.0,NaT,+2348017236641,Senior Engineer,Needs review,NaN,NaN
59,Bob Ali,NaN,NaN,NaN,52000.0,NaT,NaN,Technician,NaN,100 Main St,Lagos
60,Jane Kumar,22.0,janekumar@mail.com,NaN,52000.0,2022-01-01,NaN,Helper,NaN,12 Aba Rd,Abuja
62,aisha garcia,NaN,NaN,NaN,NaN,2021-07-15,NaN,nan,NaN,NaN,Port-Harcourt
64,Mohammed Smith,NaN,NaN,NaN,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
65,susan o'connor,NaN,NaN,NaN,NaN,NaT,NaN,Helper,NaN,NaN,Port-Harcourt
66,Grace Garcia,NaN,NaN,United Arab Emirates,70000.0,NaT,+234703 3696429,Mud Engineer,Needs review,NaN,None
68,AISHA DOE,29.0,NaN,NaN,45000.0,2022-01-01,NaN,Technician,Check details,45B Broadway,Kano
69,BOB DOE,NaN,NaN,NaN,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,Port-Harcourt
70,Anna Okoro,30.0,NaN,NaN,NaN,NaT,NaN,Technician,See supervisor,7 Olu Obasanjo,NaN
71,Jane Ali,18.0,janeali@mail.com,NaN,50000.0,NaT,+2348025520377,nan,Entry incomplete,NaN,NaN
74,Li O.,25.0,NaN,NaN,NaN,NaT,+234703 0717028,Data Analyst,See supervisor,NaN,Lagos
76,Anna L.,22.0,NaN,NaN,50000.0,2021-07-15,NaN,Senior Engineer,Check details,7 Ikorodu Rd,Kano
77,Tunde I.,NaN,NaN,NaN,NaN,2022-03-20,NaN,Data Analyst,NaN,12 Main St,Port-Harcourt
78,Anna Kumar,31.0,NaN,NaN,NaN,NaT,+2348098511220,Intern,NaN,NaN,None
79,Anna O.,NaN,NaN,NaN,70000.0,NaT,NaN,Senior Engineer,Needs review,NaN,NaN
80,aisha doe,NaN,NaN,United States of America,60000.0,NaT,+234703 7057116,Intern,Duplicate,100 Sapele Rd,Kano
81,Li Garcia,22.0,NaN,NaN,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
82,jane kumar,NaN,NaN,United Kingdom,NaN,NaT,NaN,Intern,Good candidate,100 Main St,NaN
83,Bob K.,22.0,NaN,NaN,52000.0,NaT,NaN,Intern,See supervisor,12 Olu Obasanjo,Abuja
84,Michael S.,40.0,NaN,NaN,70000.0,2020-01-05,NaN,Mud Engineer,Needs review,NaN,Kano
85,JANE IVANOV,35.0,NaN,NaN,NaN,2020-01-05,NaN,nan,NaN,12 Ikorodu Rd,Port-Harcourt
86,Mohammed Ali,40.0,NaN,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,Port-Harcourt
87,Aisha Kumar,NaN,NaN,NaN,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs review,NaN,NaN
89,Anna Doe,NaN,annadoe@mail.com,NaN,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
91,MOHAMMED KUMAR,29.0,NaN,NaN,NaN,2020-01-05,+2340712768631,nan,NaN,NaN,Lagos
92,LI O'CONNOR,25.0,NaN,United Kingdom,NaN,2022-03-20,NaN,Technician,See supervisor,45B Ikorodu Rd,Port-Harcourt
93,li garcia,NaN,NaN,NaN,NaN,2020-01-05,+2348670630597,Helper,Duplicate,NaN,Lagos
94,BOB OKORO,25.0,NaN,NaN,NaN,2021-05-02,NaN,Mud Engineer,Check details,100 Broadway,None
95,michael lee,31.0,NaN,NaN,NaN,NaT,NaN,Helper,Needs review,100 Main St,None
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,Mud Engineer,NaN,7 Olu Obasanjo,None
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,Mud Engineer,NaN,NaN,Port-Harcourt
99,aisha lee,NaN,NaN,NaN,NaN,NaT,+234703 9206910,Intern,Entry incomplete,45B Sapele Rd,None

In [78]:
for x in df4.index:
    if  (
          pd.isna(df4.loc[x, "Email"]) and
          pd.isna(df4.loc[x, "Country"]) and 
          pd.isna(df4.loc[x, "Salary"]) 
          ):
        df4.drop(x, inplace = True)
df4

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
3,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,None
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,Helper,Good candidate,NaN,Port-Harcourt
6,Aisha Garcia,35.0,NaN,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,7 Main St,NaN
8,Anna I.,40.0,NaN,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
9,Wei Okoro,31.0,NaN,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
10,Bob S.,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs review,NaN,Port-Harcourt
12,WEI O'CONNOR,NaN,NaN,NaN,52000.0,NaT,+2348087462952,Technician,See supervisor,7 Aba Rd,NaN
15,anna ali,29.0,NaN,United Arab Emirates,70000.0,NaT,+234703 5951980,Data Analyst,Check details,45B Olu Obasanjo,None
17,ANNA SMITH,NaN,NaN,NaN,50000.0,2020-01-05,+234703 4169525,nan,Entry incomplete,NaN,NaN
19,john kumar,NaN,NaN,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good candidate,12 Sapele Rd,Port-Harcourt
21,Li Ivanov,NaN,NaN,NaN,60000.0,NaT,NaN,Mud Engineer,Needs review,NaN,Port-Harcourt
22,aisha kumar,30.0,aishakumar@example.com,NaN,NaN,2022-01-01,+234703 0961913,Helper,Check details,NaN,None
23,Mohammed Kumar,NaN,NaN,NaN,70000.0,2021-07-15,+234703 7279072,nan,Good candidate,NaN,Abuja
24,aisha ivanov,NaN,NaN,United Kingdom,NaN,NaT,NaN,Helper,See supervisor,NaN,Lagos
26,Wei O.,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+234703 3064820,Mud Engineer,NaN,NaN,Lagos
29,Susan Kumar,NaN,NaN,United Arab Emirates,50000.0,2022-01-01,+234703 1839405,Intern,NaN,NaN,Kano
30,WEI IVANOV,31.0,weiivanov@example.com,NaN,52000.0,NaT,NaN,nan,Duplicate,NaN,Kano
31,Li L.,18.0,NaN,United Kingdom,50000.0,2021-05-02,NaN,nan,Check details,NaN,NaN
34,GRACE IVANOV,NaN,graceivanov@example.com,NaN,NaN,NaT,+2348038892034,Technician,Needs review,NaN,Port-Harcourt
35,Li I.,NaN,lii.@example.com,NaN,70000.0,NaT,NaN,Intern,See supervisor,NaN,Abuja
36,Tunde G.,31.0,NaN,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check details,NaN,Lagos
37,Bob L.,25.0,NaN,NaN,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check details,NaN,Port-Harcourt
38,Li I.,25.0,NaN,NaN,45000.0,NaT,+234703 4042152,Mud Engineer,Duplicate,NaN,Abuja
40,Aisha Lee,NaN,aishalee@mail.com,NaN,70000.0,NaT,NaN,Mud Engineer,Entry incomplete,NaN,Lagos
44,Anna K.,31.0,NaN,United States of America,52000.0,2020-01-05,NaN,Intern,Good candidate,7 Olu Obasanjo,Abuja
46,Michael Smith,NaN,NaN,NaN,52000.0,2022-03-20,NaN,Senior Engineer,NaN,7 Olu Obasanjo,Lagos
49,li garcia,40.0,NaN,United States of America,70000.0,2020-01-05,NaN,Intern,Check details,NaN,None
51,Grace Doe,35.0,gracedoe@mail.com,NaN,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
53,Anna Okoro,30.0,NaN,NaN,70000.0,NaT,+2348921916409,Mud Engineer,See supervisor,100 Aba Rd,Kano
55,Susan Smith,31.0,NaN,NaN,52000.0,NaT,NaN,nan,Entry incomplete,NaN,Kano
57,Anna Okoro,NaN,NaN,United States of America,70000.0,2021-05-02,NaN,Technician,Needs review,NaN,Kano
58,grace smith,18.0,NaN,NaN,45000.0,NaT,+2348017236641,Senior Engineer,Needs review,NaN,NaN
59,Bob Ali,NaN,NaN,NaN,52000.0,NaT,NaN,Technician,NaN,100 Main St,Lagos
60,Jane Kumar,22.0,janekumar@mail.com,NaN,52000.0,2022-01-01,NaN,Helper,NaN,12 Aba Rd,Abuja
64,Mohammed Smith,NaN,NaN,NaN,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
66,Grace Garcia,NaN,NaN,United Arab Emirates,70000.0,NaT,+234703 3696429,Mud Engineer,Needs review,NaN,None
68,AISHA DOE,29.0,NaN,NaN,45000.0,2022-01-01,NaN,Technician,Check details,45B Broadway,Kano
69,BOB DOE,NaN,NaN,NaN,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,Port-Harcourt
71,Jane Ali,18.0,janeali@mail.com,NaN,50000.0,NaT,+2348025520377,nan,Entry incomplete,NaN,NaN
76,Anna L.,22.0,NaN,NaN,50000.0,2021-07-15,NaN,Senior Engineer,Check details,7 Ikorodu Rd,Kano
79,Anna O.,NaN,NaN,NaN,70000.0,NaT,NaN,Senior Engineer,Needs review,NaN,NaN
80,aisha doe,NaN,NaN,United States of America,60000.0,NaT,+234703 7057116,Intern,Duplicate,100 Sapele Rd,Kano
81,Li Garcia,22.0,NaN,NaN,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
82,jane kumar,NaN,NaN,United Kingdom,NaN,NaT,NaN,Intern,Good candidate,100 Main St,NaN
83,Bob K.,22.0,NaN,NaN,52000.0,NaT,NaN,Intern,See supervisor,12 Olu Obasanjo,Abuja
84,Michael S.,40.0,NaN,NaN,70000.0,2020-01-05,NaN,Mud Engineer,Needs review,NaN,Kano
86,Mohammed Ali,40.0,NaN,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,Port-Harcourt
87,Aisha Kumar,NaN,NaN,NaN,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs review,NaN,NaN
89,Anna Doe,NaN,annadoe@mail.com,NaN,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
92,LI O'CONNOR,25.0,NaN,United Kingdom,NaN,2022-03-20,NaN,Technician,See supervisor,45B Ikorodu Rd,Port-Harcourt
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,Mud Engineer,NaN,7 Olu Obasanjo,None
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,Mud Engineer,NaN,NaN,Port-Harcourt

In [79]:
df4["State"] = df4["State"].replace([r"^\s*$","None"], np.nan, regex = True)

In [80]:
df4

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
3,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,NaN
4,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,Helper,Good candidate,NaN,Port-Harcourt
6,Aisha Garcia,35.0,NaN,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,7 Main St,NaN
8,Anna I.,40.0,NaN,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
9,Wei Okoro,31.0,NaN,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
10,Bob S.,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs review,NaN,Port-Harcourt
12,WEI O'CONNOR,NaN,NaN,NaN,52000.0,NaT,+2348087462952,Technician,See supervisor,7 Aba Rd,NaN
15,anna ali,29.0,NaN,United Arab Emirates,70000.0,NaT,+234703 5951980,Data Analyst,Check details,45B Olu Obasanjo,NaN
17,ANNA SMITH,NaN,NaN,NaN,50000.0,2020-01-05,+234703 4169525,nan,Entry incomplete,NaN,NaN
19,john kumar,NaN,NaN,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good candidate,12 Sapele Rd,Port-Harcourt
21,Li Ivanov,NaN,NaN,NaN,60000.0,NaT,NaN,Mud Engineer,Needs review,NaN,Port-Harcourt
22,aisha kumar,30.0,aishakumar@example.com,NaN,NaN,2022-01-01,+234703 0961913,Helper,Check details,NaN,NaN
23,Mohammed Kumar,NaN,NaN,NaN,70000.0,2021-07-15,+234703 7279072,nan,Good candidate,NaN,Abuja
24,aisha ivanov,NaN,NaN,United Kingdom,NaN,NaT,NaN,Helper,See supervisor,NaN,Lagos
26,Wei O.,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+234703 3064820,Mud Engineer,NaN,NaN,Lagos
29,Susan Kumar,NaN,NaN,United Arab Emirates,50000.0,2022-01-01,+234703 1839405,Intern,NaN,NaN,Kano
30,WEI IVANOV,31.0,weiivanov@example.com,NaN,52000.0,NaT,NaN,nan,Duplicate,NaN,Kano
31,Li L.,18.0,NaN,United Kingdom,50000.0,2021-05-02,NaN,nan,Check details,NaN,NaN
34,GRACE IVANOV,NaN,graceivanov@example.com,NaN,NaN,NaT,+2348038892034,Technician,Needs review,NaN,Port-Harcourt
35,Li I.,NaN,lii.@example.com,NaN,70000.0,NaT,NaN,Intern,See supervisor,NaN,Abuja
36,Tunde G.,31.0,NaN,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check details,NaN,Lagos
37,Bob L.,25.0,NaN,NaN,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check details,NaN,Port-Harcourt
38,Li I.,25.0,NaN,NaN,45000.0,NaT,+234703 4042152,Mud Engineer,Duplicate,NaN,Abuja
40,Aisha Lee,NaN,aishalee@mail.com,NaN,70000.0,NaT,NaN,Mud Engineer,Entry incomplete,NaN,Lagos
44,Anna K.,31.0,NaN,United States of America,52000.0,2020-01-05,NaN,Intern,Good candidate,7 Olu Obasanjo,Abuja
46,Michael Smith,NaN,NaN,NaN,52000.0,2022-03-20,NaN,Senior Engineer,NaN,7 Olu Obasanjo,Lagos
49,li garcia,40.0,NaN,United States of America,70000.0,2020-01-05,NaN,Intern,Check details,NaN,NaN
51,Grace Doe,35.0,gracedoe@mail.com,NaN,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
53,Anna Okoro,30.0,NaN,NaN,70000.0,NaT,+2348921916409,Mud Engineer,See supervisor,100 Aba Rd,Kano
55,Susan Smith,31.0,NaN,NaN,52000.0,NaT,NaN,nan,Entry incomplete,NaN,Kano
57,Anna Okoro,NaN,NaN,United States of America,70000.0,2021-05-02,NaN,Technician,Needs review,NaN,Kano
58,grace smith,18.0,NaN,NaN,45000.0,NaT,+2348017236641,Senior Engineer,Needs review,NaN,NaN
59,Bob Ali,NaN,NaN,NaN,52000.0,NaT,NaN,Technician,NaN,100 Main St,Lagos
60,Jane Kumar,22.0,janekumar@mail.com,NaN,52000.0,2022-01-01,NaN,Helper,NaN,12 Aba Rd,Abuja
64,Mohammed Smith,NaN,NaN,NaN,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
66,Grace Garcia,NaN,NaN,United Arab Emirates,70000.0,NaT,+234703 3696429,Mud Engineer,Needs review,NaN,NaN
68,AISHA DOE,29.0,NaN,NaN,45000.0,2022-01-01,NaN,Technician,Check details,45B Broadway,Kano
69,BOB DOE,NaN,NaN,NaN,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,Port-Harcourt
71,Jane Ali,18.0,janeali@mail.com,NaN,50000.0,NaT,+2348025520377,nan,Entry incomplete,NaN,NaN
76,Anna L.,22.0,NaN,NaN,50000.0,2021-07-15,NaN,Senior Engineer,Check details,7 Ikorodu Rd,Kano
79,Anna O.,NaN,NaN,NaN,70000.0,NaT,NaN,Senior Engineer,Needs review,NaN,NaN
80,aisha doe,NaN,NaN,United States of America,60000.0,NaT,+234703 7057116,Intern,Duplicate,100 Sapele Rd,Kano
81,Li Garcia,22.0,NaN,NaN,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
82,jane kumar,NaN,NaN,United Kingdom,NaN,NaT,NaN,Intern,Good candidate,100 Main St,NaN
83,Bob K.,22.0,NaN,NaN,52000.0,NaT,NaN,Intern,See supervisor,12 Olu Obasanjo,Abuja
84,Michael S.,40.0,NaN,NaN,70000.0,2020-01-05,NaN,Mud Engineer,Needs review,NaN,Kano
86,Mohammed Ali,40.0,NaN,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,Port-Harcourt
87,Aisha Kumar,NaN,NaN,NaN,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs review,NaN,NaN
89,Anna Doe,NaN,annadoe@mail.com,NaN,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
92,LI O'CONNOR,25.0,NaN,United Kingdom,NaN,2022-03-20,NaN,Technician,See supervisor,45B Ikorodu Rd,Port-Harcourt
96,jane doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,Mud Engineer,NaN,7 Olu Obasanjo,NaN
97,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
98,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,Mud Engineer,NaN,NaN,Port-Harcourt

In [81]:
df4 = df4.reset_index(drop=True)
df4

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
0,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,NaN
1,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,Helper,Good candidate,NaN,Port-Harcourt
2,Aisha Garcia,35.0,NaN,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,7 Main St,NaN
3,Anna I.,40.0,NaN,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
4,Wei Okoro,31.0,NaN,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
5,Bob S.,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs review,NaN,Port-Harcourt
6,WEI O'CONNOR,NaN,NaN,NaN,52000.0,NaT,+2348087462952,Technician,See supervisor,7 Aba Rd,NaN
7,anna ali,29.0,NaN,United Arab Emirates,70000.0,NaT,+234703 5951980,Data Analyst,Check details,45B Olu Obasanjo,NaN
8,ANNA SMITH,NaN,NaN,NaN,50000.0,2020-01-05,+234703 4169525,nan,Entry incomplete,NaN,NaN
9,john kumar,NaN,NaN,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good candidate,12 Sapele Rd,Port-Harcourt
10,Li Ivanov,NaN,NaN,NaN,60000.0,NaT,NaN,Mud Engineer,Needs review,NaN,Port-Harcourt
11,aisha kumar,30.0,aishakumar@example.com,NaN,NaN,2022-01-01,+234703 0961913,Helper,Check details,NaN,NaN
12,Mohammed Kumar,NaN,NaN,NaN,70000.0,2021-07-15,+234703 7279072,nan,Good candidate,NaN,Abuja
13,aisha ivanov,NaN,NaN,United Kingdom,NaN,NaT,NaN,Helper,See supervisor,NaN,Lagos
14,Wei O.,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+234703 3064820,Mud Engineer,NaN,NaN,Lagos
15,Susan Kumar,NaN,NaN,United Arab Emirates,50000.0,2022-01-01,+234703 1839405,Intern,NaN,NaN,Kano
16,WEI IVANOV,31.0,weiivanov@example.com,NaN,52000.0,NaT,NaN,nan,Duplicate,NaN,Kano
17,Li L.,18.0,NaN,United Kingdom,50000.0,2021-05-02,NaN,nan,Check details,NaN,NaN
18,GRACE IVANOV,NaN,graceivanov@example.com,NaN,NaN,NaT,+2348038892034,Technician,Needs review,NaN,Port-Harcourt
19,Li I.,NaN,lii.@example.com,NaN,70000.0,NaT,NaN,Intern,See supervisor,NaN,Abuja
20,Tunde G.,31.0,NaN,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check details,NaN,Lagos
21,Bob L.,25.0,NaN,NaN,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check details,NaN,Port-Harcourt
22,Li I.,25.0,NaN,NaN,45000.0,NaT,+234703 4042152,Mud Engineer,Duplicate,NaN,Abuja
23,Aisha Lee,NaN,aishalee@mail.com,NaN,70000.0,NaT,NaN,Mud Engineer,Entry incomplete,NaN,Lagos
24,Anna K.,31.0,NaN,United States of America,52000.0,2020-01-05,NaN,Intern,Good candidate,7 Olu Obasanjo,Abuja
25,Michael Smith,NaN,NaN,NaN,52000.0,2022-03-20,NaN,Senior Engineer,NaN,7 Olu Obasanjo,Lagos
26,li garcia,40.0,NaN,United States of America,70000.0,2020-01-05,NaN,Intern,Check details,NaN,NaN
27,Grace Doe,35.0,gracedoe@mail.com,NaN,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
28,Anna Okoro,30.0,NaN,NaN,70000.0,NaT,+2348921916409,Mud Engineer,See supervisor,100 Aba Rd,Kano
29,Susan Smith,31.0,NaN,NaN,52000.0,NaT,NaN,nan,Entry incomplete,NaN,Kano
30,Anna Okoro,NaN,NaN,United States of America,70000.0,2021-05-02,NaN,Technician,Needs review,NaN,Kano
31,grace smith,18.0,NaN,NaN,45000.0,NaT,+2348017236641,Senior Engineer,Needs review,NaN,NaN
32,Bob Ali,NaN,NaN,NaN,52000.0,NaT,NaN,Technician,NaN,100 Main St,Lagos
33,Jane Kumar,22.0,janekumar@mail.com,NaN,52000.0,2022-01-01,NaN,Helper,NaN,12 Aba Rd,Abuja
34,Mohammed Smith,NaN,NaN,NaN,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
35,Grace Garcia,NaN,NaN,United Arab Emirates,70000.0,NaT,+234703 3696429,Mud Engineer,Needs review,NaN,NaN
36,AISHA DOE,29.0,NaN,NaN,45000.0,2022-01-01,NaN,Technician,Check details,45B Broadway,Kano
37,BOB DOE,NaN,NaN,NaN,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,Port-Harcourt
38,Jane Ali,18.0,janeali@mail.com,NaN,50000.0,NaT,+2348025520377,nan,Entry incomplete,NaN,NaN
39,Anna L.,22.0,NaN,NaN,50000.0,2021-07-15,NaN,Senior Engineer,Check details,7 Ikorodu Rd,Kano
40,Anna O.,NaN,NaN,NaN,70000.0,NaT,NaN,Senior Engineer,Needs review,NaN,NaN
41,aisha doe,NaN,NaN,United States of America,60000.0,NaT,+234703 7057116,Intern,Duplicate,100 Sapele Rd,Kano
42,Li Garcia,22.0,NaN,NaN,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
43,jane kumar,NaN,NaN,United Kingdom,NaN,NaT,NaN,Intern,Good candidate,100 Main St,NaN
44,Bob K.,22.0,NaN,NaN,52000.0,NaT,NaN,Intern,See supervisor,12 Olu Obasanjo,Abuja
45,Michael S.,40.0,NaN,NaN,70000.0,2020-01-05,NaN,Mud Engineer,Needs review,NaN,Kano
46,Mohammed Ali,40.0,NaN,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,Port-Harcourt
47,Aisha Kumar,NaN,NaN,NaN,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs review,NaN,NaN
48,Anna Doe,NaN,annadoe@mail.com,NaN,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
49,LI O'CONNOR,25.0,NaN,United Kingdom,NaN,2022-03-20,NaN,Technician,See supervisor,45B Ikorodu Rd,Port-Harcourt
50,jane doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,Mud Engineer,NaN,7 Olu Obasanjo,NaN
51,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+234703 2502622,Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
52,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+234703 0004383,Mud Engineer,NaN,NaN,Port-Harcourt

In [82]:
df["Phone_Number"] = df["Phone_Number"].astype(str)

In [83]:
df4["Phone_Number"] = df4["Phone_Number"].str.replace(r"\D", "", regex=True)

In [84]:
def standardize_nigerian_number(num):
    if pd.isna(num):
        return np.nan
    if num.startswith ("234"):
        return "+" + num
    return np.nan

df4["Phone_Number"] = df4["Phone_Number"].apply(standardize_nigerian_number)

In [85]:
df4

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
0,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,NaN
1,SUSAN OKORO,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,Helper,Good candidate,NaN,Port-Harcourt
2,Aisha Garcia,35.0,NaN,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,7 Main St,NaN
3,Anna I.,40.0,NaN,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
4,Wei Okoro,31.0,NaN,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
5,Bob S.,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs review,NaN,Port-Harcourt
6,WEI O'CONNOR,NaN,NaN,NaN,52000.0,NaT,+2348087462952,Technician,See supervisor,7 Aba Rd,NaN
7,anna ali,29.0,NaN,United Arab Emirates,70000.0,NaT,+2347035951980,Data Analyst,Check details,45B Olu Obasanjo,NaN
8,ANNA SMITH,NaN,NaN,NaN,50000.0,2020-01-05,+2347034169525,nan,Entry incomplete,NaN,NaN
9,john kumar,NaN,NaN,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good candidate,12 Sapele Rd,Port-Harcourt
10,Li Ivanov,NaN,NaN,NaN,60000.0,NaT,NaN,Mud Engineer,Needs review,NaN,Port-Harcourt
11,aisha kumar,30.0,aishakumar@example.com,NaN,NaN,2022-01-01,+2347030961913,Helper,Check details,NaN,NaN
12,Mohammed Kumar,NaN,NaN,NaN,70000.0,2021-07-15,+2347037279072,nan,Good candidate,NaN,Abuja
13,aisha ivanov,NaN,NaN,United Kingdom,NaN,NaT,NaN,Helper,See supervisor,NaN,Lagos
14,Wei O.,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+2347033064820,Mud Engineer,NaN,NaN,Lagos
15,Susan Kumar,NaN,NaN,United Arab Emirates,50000.0,2022-01-01,+2347031839405,Intern,NaN,NaN,Kano
16,WEI IVANOV,31.0,weiivanov@example.com,NaN,52000.0,NaT,NaN,nan,Duplicate,NaN,Kano
17,Li L.,18.0,NaN,United Kingdom,50000.0,2021-05-02,NaN,nan,Check details,NaN,NaN
18,GRACE IVANOV,NaN,graceivanov@example.com,NaN,NaN,NaT,+2348038892034,Technician,Needs review,NaN,Port-Harcourt
19,Li I.,NaN,lii.@example.com,NaN,70000.0,NaT,NaN,Intern,See supervisor,NaN,Abuja
20,Tunde G.,31.0,NaN,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check details,NaN,Lagos
21,Bob L.,25.0,NaN,NaN,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check details,NaN,Port-Harcourt
22,Li I.,25.0,NaN,NaN,45000.0,NaT,+2347034042152,Mud Engineer,Duplicate,NaN,Abuja
23,Aisha Lee,NaN,aishalee@mail.com,NaN,70000.0,NaT,NaN,Mud Engineer,Entry incomplete,NaN,Lagos
24,Anna K.,31.0,NaN,United States of America,52000.0,2020-01-05,NaN,Intern,Good candidate,7 Olu Obasanjo,Abuja
25,Michael Smith,NaN,NaN,NaN,52000.0,2022-03-20,NaN,Senior Engineer,NaN,7 Olu Obasanjo,Lagos
26,li garcia,40.0,NaN,United States of America,70000.0,2020-01-05,NaN,Intern,Check details,NaN,NaN
27,Grace Doe,35.0,gracedoe@mail.com,NaN,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
28,Anna Okoro,30.0,NaN,NaN,70000.0,NaT,+2348921916409,Mud Engineer,See supervisor,100 Aba Rd,Kano
29,Susan Smith,31.0,NaN,NaN,52000.0,NaT,NaN,nan,Entry incomplete,NaN,Kano
30,Anna Okoro,NaN,NaN,United States of America,70000.0,2021-05-02,NaN,Technician,Needs review,NaN,Kano
31,grace smith,18.0,NaN,NaN,45000.0,NaT,+2348017236641,Senior Engineer,Needs review,NaN,NaN
32,Bob Ali,NaN,NaN,NaN,52000.0,NaT,NaN,Technician,NaN,100 Main St,Lagos
33,Jane Kumar,22.0,janekumar@mail.com,NaN,52000.0,2022-01-01,NaN,Helper,NaN,12 Aba Rd,Abuja
34,Mohammed Smith,NaN,NaN,NaN,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
35,Grace Garcia,NaN,NaN,United Arab Emirates,70000.0,NaT,+2347033696429,Mud Engineer,Needs review,NaN,NaN
36,AISHA DOE,29.0,NaN,NaN,45000.0,2022-01-01,NaN,Technician,Check details,45B Broadway,Kano
37,BOB DOE,NaN,NaN,NaN,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,Port-Harcourt
38,Jane Ali,18.0,janeali@mail.com,NaN,50000.0,NaT,+2348025520377,nan,Entry incomplete,NaN,NaN
39,Anna L.,22.0,NaN,NaN,50000.0,2021-07-15,NaN,Senior Engineer,Check details,7 Ikorodu Rd,Kano
40,Anna O.,NaN,NaN,NaN,70000.0,NaT,NaN,Senior Engineer,Needs review,NaN,NaN
41,aisha doe,NaN,NaN,United States of America,60000.0,NaT,+2347037057116,Intern,Duplicate,100 Sapele Rd,Kano
42,Li Garcia,22.0,NaN,NaN,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
43,jane kumar,NaN,NaN,United Kingdom,NaN,NaT,NaN,Intern,Good candidate,100 Main St,NaN
44,Bob K.,22.0,NaN,NaN,52000.0,NaT,NaN,Intern,See supervisor,12 Olu Obasanjo,Abuja
45,Michael S.,40.0,NaN,NaN,70000.0,2020-01-05,NaN,Mud Engineer,Needs review,NaN,Kano
46,Mohammed Ali,40.0,NaN,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,Port-Harcourt
47,Aisha Kumar,NaN,NaN,NaN,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs review,NaN,NaN
48,Anna Doe,NaN,annadoe@mail.com,NaN,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
49,LI O'CONNOR,25.0,NaN,United Kingdom,NaN,2022-03-20,NaN,Technician,See supervisor,45B Ikorodu Rd,Port-Harcourt
50,jane doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,Mud Engineer,NaN,7 Olu Obasanjo,NaN
51,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+2347032502622,Data Analyst,Entry incomplete,7 Sapele Rd,Abuja
52,LI SMITH,29.0,NaN,United States of America,50000.0,2021-07-15,+2347030004383,Mud Engineer,NaN,NaN,Port-Harcourt

In [86]:
df4["Name"] = df4["Name"].str.strip().str.title()

In [87]:
df4["Job_Title"] = df4["Job_Title"].str.strip().str.title()
df4["Notes"] = df4["Notes"].str.strip().str.title()
df4["Street"] = df4["Street"].str.strip().str.title()
df4["State"] = df4["State"].str.strip().str.title()
df4["Salary"] = df4["Salary"].round(0)

In [88]:
df3

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
0,nan,18.0,nan,nan,50000.0,NaT,NaN,Helper,Duplicate,NaN,NaN
1,Jane L.,NaN,nan,nan,NaN,2022-01-01,NaN,Intern,Duplicate,NaN,NaN
2,nan,NaN,nan,nan,52000.0,2020-01-05,+2341518524025,nan,NaN,NaN,None
3,Li Okoro,22.0,nan,nan,70000.0,NaT,+2349166955266,Technician,Duplicate,NaN,None
4,SUSAN OKORO,NaN,nan,United Arab Emirates,NaN,NaT,NaN,Helper,Good candidate,NaN,NaN
5,nan,NaN,nan,nan,50000.0,2022-03-20,NaN,Data Analyst,Duplicate,NaN,NaN
6,Aisha Garcia,35.0,nan,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,NaN,NaN
7,nan,NaN,nan,United Arab Emirates,45000.0,NaT,+234703 2390161,nan,NaN,NaN,Kano
8,Anna I.,40.0,nan,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
9,Wei Okoro,31.0,nan,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
10,Bob S.,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs review,NaN,NaN
11,nan,NaN,nan,nan,NaN,2022-03-20,+2343164269413,Technician,Entry incomplete,NaN,Kano
12,WEI O'CONNOR,NaN,nan,nan,52000.0,NaT,+2348087462952,Technician,See supervisor,NaN,NaN
13,Mohammed S.,22.0,nan,nan,NaN,NaT,NaN,Senior Engineer,Duplicate,NaN,Abuja
14,Wei Garcia,31.0,nan,nan,NaN,NaT,NaN,Mud Engineer,See supervisor,NaN,Abuja
15,anna ali,29.0,nan,United Arab Emirates,70000.0,NaT,+234703 5951980,Data Analyst,Check details,NaN,None
16,Anna Garcia,NaN,nan,nan,NaN,2020-01-05,NaN,Senior Engineer,Check details,NaN,NaN
17,ANNA SMITH,NaN,nan,nan,50000.0,2020-01-05,+234703 4169525,nan,Entry incomplete,NaN,NaN
18,aisha doe,29.0,nan,nan,NaN,2021-05-02,+2345461704436,nan,NaN,NaN,Abuja
19,john kumar,NaN,nan,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good candidate,NaN,NaN
20,nan,29.0,x@mail.com,nan,NaN,NaT,NaN,Helper,NaN,NaN,Abuja
21,Li Ivanov,NaN,nan,nan,60000.0,NaT,NaN,Mud Engineer,Needs review,NaN,NaN
22,aisha kumar,30.0,aishakumar@example.com,nan,NaN,2022-01-01,+234703 0961913,Helper,Check details,NaN,None
23,Mohammed Kumar,NaN,nan,nan,70000.0,2021-07-15,+234703 7279072,nan,Good candidate,NaN,Abuja
24,aisha ivanov,NaN,nan,United Kingdom,NaN,NaT,NaN,Helper,See supervisor,NaN,Lagos
25,nan,22.0,x@example.com,nan,45000.0,2022-03-20,+2344720832979,Mud Engineer,NaN,NaN,Lagos
26,Wei O.,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+234703 3064820,Mud Engineer,NaN,NaN,Lagos
27,WEI IVANOV,NaN,nan,nan,NaN,2022-03-20,+234703 6013570,Senior Engineer,Entry incomplete,NaN,Kano
28,Tunde G.,31.0,nan,nan,NaN,2022-01-01,NaN,nan,See supervisor,7,Abuja
29,Susan Kumar,NaN,nan,United Arab Emirates,50000.0,2022-01-01,+234703 1839405,Intern,NaN,NaN,Kano
30,WEI IVANOV,31.0,weiivanov@example.com,nan,52000.0,NaT,NaN,nan,Duplicate,NaN,Kano
31,Li L.,18.0,nan,United Kingdom,50000.0,2021-05-02,NaN,nan,Check details,NaN,NaN
32,nan,25.0,nan,nan,50000.0,2021-07-15,NaN,Helper,NaN,NaN,Abuja
33,nan,NaN,nan,nan,60000.0,NaT,+234703 0279875,nan,Good candidate,NaN,Lagos
34,GRACE IVANOV,NaN,graceivanov@example.com,nan,NaN,NaT,+2348038892034,Technician,Needs review,NaN,NaN
35,Li I.,NaN,lii.@example.com,nan,70000.0,NaT,NaN,Intern,See supervisor,NaN,Abuja
36,Tunde G.,31.0,nan,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check details,NaN,Lagos
37,Bob L.,25.0,nan,nan,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check details,NaN,NaN
38,Li I.,25.0,nan,nan,45000.0,NaT,+234703 4042152,Mud Engineer,Duplicate,NaN,Abuja
39,nan,NaN,nan,nan,60000.0,2021-07-15,+234703 5303283,Senior Engineer,NaN,NaN,NaN
40,Aisha Lee,NaN,aishalee@mail.com,nan,70000.0,NaT,NaN,Mud Engineer,Entry incomplete,NaN,Lagos
41,nan,40.0,nan,nan,NaN,2020-01-05,NaN,Mud Engineer,Good candidate,NaN,NaN
42,nan,31.0,x@example.com,nan,NaN,NaT,+2348081621069,Data Analyst,NaN,NaN,Kano
43,Mohammed Garcia,35.0,nan,nan,NaN,NaT,NaN,Intern,Check details,NaN,Lagos
44,Anna K.,31.0,nan,United States of America,52000.0,2020-01-05,NaN,Intern,Good candidate,NaN,Abuja
45,LI OKORO,NaN,nan,nan,NaN,NaT,+234703 7666918,nan,NaN,NaN,Lagos
46,Michael Smith,NaN,nan,nan,52000.0,2022-03-20,NaN,Senior Engineer,NaN,NaN,Lagos
47,Li A.,31.0,nan,nan,NaN,NaT,NaN,Senior Engineer,Entry incomplete,NaN,Kano
48,Wei O.,29.0,nan,nan,NaN,NaT,NaN,Helper,NaN,7,None
49,li garcia,40.0,nan,United States of America,70000.0,2020-01-05,NaN,Intern,Check details,NaN,None
50,JOHN LEE,40.0,nan,nan,NaN,2022-03-20,+2344491716791,nan,Duplicate,NaN,None
51,Grace Doe,35.0,gracedoe@mail.com,nan,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
52,nan,30.0,nan,nan,NaN,NaT,+2342433512694,Data Analyst,Good candidate,NaN,Kano
53,Anna Okoro,30.0,nan,nan,70000.0,NaT,+2348921916409,Mud Engineer,See supervisor,NaN,Kano
54,michael doe,NaN,nan,nan,NaN,NaT,NaN,Senior Engineer,NaN,NaN,NaN
55,Susan Smith,31.0,nan,nan,52000.0,NaT,NaN,nan,Entry incomplete,NaN,Kano
56,jane ali,18.0,nan,nan,NaN,2021-05-02,+2348054230493,Data Analyst,See supervisor,NaN,Lagos
57,Anna Okoro,NaN,nan,United States of America,70000.0,2021-05-02,NaN,Technician,Needs review,NaN,Kano
58,grace smith,18.0,nan,nan,45000.0,NaT,+2348017236641,Senior Engineer,Needs review,NaN,NaN
59,Bob Ali,NaN,nan,nan,52000.0,NaT,NaN,Technician,NaN,NaN,Lagos
60,Jane Kumar,22.0,janekumar@mail.com,nan,52000.0,2022-01-01,NaN,Helper,NaN,NaN,Abuja
61,nan,NaN,nan,nan,60000.0,NaT,+2348050561715,Technician,Good candidate,NaN,None
62,aisha garcia,NaN,nan,nan,NaN,2021-07-15,NaN,nan,NaN,NaN,NaN
63,nan,NaN,nan,nan,NaN,NaT,+2345137639581,nan,Good candidate,NaN,Lagos
64,Mohammed Smith,NaN,nan,nan,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
65,susan o'connor,NaN,nan,nan,NaN,NaT,NaN,Helper,NaN,NaN,NaN
66,Grace Garcia,NaN,nan,United Arab Emirates,70000.0,NaT,+234703 3696429,Mud Engineer,Needs review,NaN,None
67,nan,NaN,nan,nan,NaN,NaT,NaN,Senior Engineer,Duplicate,NaN,None
68,AISHA DOE,29.0,nan,nan,45000.0,2022-01-01,NaN,Technician,Check details,NaN,Kano
69,BOB DOE,NaN,nan,nan,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,NaN
70,Anna Okoro,30.0,nan,nan,NaN,NaT,NaN,Technician,See supervisor,NaN,NaN
71,Jane Ali,18.0,janeali@mail.com,nan,50000.0,NaT,+2348025520377,nan,Entry incomplete,NaN,NaN
72,nan,NaN,x@example.com,nan,45000.0,NaT,NaN,Intern,Duplicate,NaN,None
73,nan,25.0,nan,United Arab Emirates,NaN,NaT,+2348035135236,nan,Good candidate,NaN,None
74,Li O.,25.0,nan,nan,NaN,NaT,+234703 0717028,Data Analyst,See supervisor,NaN,Lagos
75,nan,NaN,x@example.com,nan,NaN,2020-01-05,+2348035591418,Mud Engineer,Needs review,NaN,Abuja
76,Anna L.,22.0,nan,nan,50000.0,2021-07-15,NaN,Senior Engineer,Check details,NaN,Kano
77,Tunde I.,NaN,nan,nan,NaN,2022-03-20,NaN,Data Analyst,NaN,NaN,NaN
78,Anna Kumar,31.0,nan,nan,NaN,NaT,+2348098511220,Intern,NaN,NaN,None
79,Anna O.,NaN,nan,nan,70000.0,NaT,NaN,Senior Engineer,Needs review,NaN,NaN
80,aisha doe,NaN,nan,United States of America,60000.0,NaT,+234703 7057116,Intern,Duplicate,NaN,Kano
81,Li Garcia,22.0,nan,nan,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
82,jane kumar,NaN,nan,United Kingdom,NaN,NaT,NaN,Intern,Good candidate,NaN,NaN
83,Bob K.,22.0,nan,nan,52000.0,NaT,NaN,Intern,See supervisor,NaN,Abuja
84,Michael S.,40.0,nan,nan,70000.0,2020-01-05,NaN,Mud Engineer,Needs review,NaN,Kano
85,JANE IVANOV,35.0,nan,nan,NaN,2020-01-05,NaN,nan,NaN,NaN,NaN
86,Mohammed Ali,40.0,nan,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,NaN
87,Aisha Kumar,NaN,nan,nan,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs review,NaN,NaN
88,nan,22.0,nan,nan,45000.0,2020-01-05,NaN,Senior Engineer,Good candidate,NaN,Kano
89,Anna Doe,NaN,annadoe@mail.com,nan,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
90,nan,40.0,nan,nan,50000.0,2022-03-20,+234703 1695879,Data Analyst,NaN,NaN,Abuja
91,MOHAMMED KUMAR,29.0,nan,nan,NaN,2020-01-05,+2340712768631,nan,NaN,NaN,Lagos
92,LI O'CONNOR,25.0,nan,United Kingdom,NaN,2022-03-20,NaN,Technician,See supervisor,NaN,NaN
93,li garcia,NaN,nan,nan,NaN,2020-01-05,+2348670630597,Helper,Duplicate,NaN,Lagos
94,BOB OKORO,25.0,nan,nan,NaN,2021-05-02,NaN,Mud Engineer,Check details,NaN,None
95,michael lee,31.0,nan,nan,NaN,NaT,NaN,Helper,Needs review,NaN,None
96,jane doe,35.0,janedoe@mail.com,nan,NaN,NaT,NaN,Mud Engineer,NaN,NaN,None
97,Grace L.,NaN,nan,United Kingdom,NaN,2020-01-05,+234703 2502622,Data Analyst,Entry incomplete,NaN,Abuja
98,LI SMITH,29.0,nan,United States of America,50000.0,2021-07-15,+234703 0004383,Mud Engineer,NaN,NaN,NaN
99,aisha lee,NaN,nan,nan,NaN,NaT,+234703 9206910,Intern,Entry incomplete,NaN,None

In [89]:
df4["Notes"] = df4["Notes"].replace("Nan", np.nan)
df4["Job_Title"] = df4["Job_Title"].replace("Nan", np.nan)

In [90]:
df4

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
0,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,NaN
1,Susan Okoro,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,Helper,Good Candidate,NaN,Port-Harcourt
2,Aisha Garcia,35.0,NaN,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,7 Main St,NaN
3,Anna I.,40.0,NaN,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
4,Wei Okoro,31.0,NaN,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
5,Bob S.,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs Review,NaN,Port-Harcourt
6,Wei O'Connor,NaN,NaN,NaN,52000.0,NaT,+2348087462952,Technician,See Supervisor,7 Aba Rd,NaN
7,Anna Ali,29.0,NaN,United Arab Emirates,70000.0,NaT,+2347035951980,Data Analyst,Check Details,45B Olu Obasanjo,NaN
8,Anna Smith,NaN,NaN,NaN,50000.0,2020-01-05,+2347034169525,NaN,Entry Incomplete,NaN,NaN
9,John Kumar,NaN,NaN,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good Candidate,12 Sapele Rd,Port-Harcourt
10,Li Ivanov,NaN,NaN,NaN,60000.0,NaT,NaN,Mud Engineer,Needs Review,NaN,Port-Harcourt
11,Aisha Kumar,30.0,aishakumar@example.com,NaN,NaN,2022-01-01,+2347030961913,Helper,Check Details,NaN,NaN
12,Mohammed Kumar,NaN,NaN,NaN,70000.0,2021-07-15,+2347037279072,NaN,Good Candidate,NaN,Abuja
13,Aisha Ivanov,NaN,NaN,United Kingdom,NaN,NaT,NaN,Helper,See Supervisor,NaN,Lagos
14,Wei O.,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+2347033064820,Mud Engineer,NaN,NaN,Lagos
15,Susan Kumar,NaN,NaN,United Arab Emirates,50000.0,2022-01-01,+2347031839405,Intern,NaN,NaN,Kano
16,Wei Ivanov,31.0,weiivanov@example.com,NaN,52000.0,NaT,NaN,NaN,Duplicate,NaN,Kano
17,Li L.,18.0,NaN,United Kingdom,50000.0,2021-05-02,NaN,NaN,Check Details,NaN,NaN
18,Grace Ivanov,NaN,graceivanov@example.com,NaN,NaN,NaT,+2348038892034,Technician,Needs Review,NaN,Port-Harcourt
19,Li I.,NaN,lii.@example.com,NaN,70000.0,NaT,NaN,Intern,See Supervisor,NaN,Abuja
20,Tunde G.,31.0,NaN,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check Details,NaN,Lagos
21,Bob L.,25.0,NaN,NaN,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check Details,NaN,Port-Harcourt
22,Li I.,25.0,NaN,NaN,45000.0,NaT,+2347034042152,Mud Engineer,Duplicate,NaN,Abuja
23,Aisha Lee,NaN,aishalee@mail.com,NaN,70000.0,NaT,NaN,Mud Engineer,Entry Incomplete,NaN,Lagos
24,Anna K.,31.0,NaN,United States of America,52000.0,2020-01-05,NaN,Intern,Good Candidate,7 Olu Obasanjo,Abuja
25,Michael Smith,NaN,NaN,NaN,52000.0,2022-03-20,NaN,Senior Engineer,NaN,7 Olu Obasanjo,Lagos
26,Li Garcia,40.0,NaN,United States of America,70000.0,2020-01-05,NaN,Intern,Check Details,NaN,NaN
27,Grace Doe,35.0,gracedoe@mail.com,NaN,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
28,Anna Okoro,30.0,NaN,NaN,70000.0,NaT,+2348921916409,Mud Engineer,See Supervisor,100 Aba Rd,Kano
29,Susan Smith,31.0,NaN,NaN,52000.0,NaT,NaN,NaN,Entry Incomplete,NaN,Kano
30,Anna Okoro,NaN,NaN,United States of America,70000.0,2021-05-02,NaN,Technician,Needs Review,NaN,Kano
31,Grace Smith,18.0,NaN,NaN,45000.0,NaT,+2348017236641,Senior Engineer,Needs Review,NaN,NaN
32,Bob Ali,NaN,NaN,NaN,52000.0,NaT,NaN,Technician,NaN,100 Main St,Lagos
33,Jane Kumar,22.0,janekumar@mail.com,NaN,52000.0,2022-01-01,NaN,Helper,NaN,12 Aba Rd,Abuja
34,Mohammed Smith,NaN,NaN,NaN,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
35,Grace Garcia,NaN,NaN,United Arab Emirates,70000.0,NaT,+2347033696429,Mud Engineer,Needs Review,NaN,NaN
36,Aisha Doe,29.0,NaN,NaN,45000.0,2022-01-01,NaN,Technician,Check Details,45B Broadway,Kano
37,Bob Doe,NaN,NaN,NaN,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,Port-Harcourt
38,Jane Ali,18.0,janeali@mail.com,NaN,50000.0,NaT,+2348025520377,NaN,Entry Incomplete,NaN,NaN
39,Anna L.,22.0,NaN,NaN,50000.0,2021-07-15,NaN,Senior Engineer,Check Details,7 Ikorodu Rd,Kano
40,Anna O.,NaN,NaN,NaN,70000.0,NaT,NaN,Senior Engineer,Needs Review,NaN,NaN
41,Aisha Doe,NaN,NaN,United States of America,60000.0,NaT,+2347037057116,Intern,Duplicate,100 Sapele Rd,Kano
42,Li Garcia,22.0,NaN,NaN,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
43,Jane Kumar,NaN,NaN,United Kingdom,NaN,NaT,NaN,Intern,Good Candidate,100 Main St,NaN
44,Bob K.,22.0,NaN,NaN,52000.0,NaT,NaN,Intern,See Supervisor,12 Olu Obasanjo,Abuja
45,Michael S.,40.0,NaN,NaN,70000.0,2020-01-05,NaN,Mud Engineer,Needs Review,NaN,Kano
46,Mohammed Ali,40.0,NaN,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,Port-Harcourt
47,Aisha Kumar,NaN,NaN,NaN,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs Review,NaN,NaN
48,Anna Doe,NaN,annadoe@mail.com,NaN,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
49,Li O'Connor,25.0,NaN,United Kingdom,NaN,2022-03-20,NaN,Technician,See Supervisor,45B Ikorodu Rd,Port-Harcourt
50,Jane Doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,Mud Engineer,NaN,7 Olu Obasanjo,NaN
51,Grace L.,NaN,NaN,United Kingdom,NaN,2020-01-05,+2347032502622,Data Analyst,Entry Incomplete,7 Sapele Rd,Abuja
52,Li Smith,29.0,NaN,United States of America,50000.0,2021-07-15,+2347030004383,Mud Engineer,NaN,NaN,Port-Harcourt

In [91]:
df4["Name"] = df4["Name"].str.strip(".")

In [92]:
df4

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
0,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,NaN
1,Susan Okoro,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,Helper,Good Candidate,NaN,Port-Harcourt
2,Aisha Garcia,35.0,NaN,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,7 Main St,NaN
3,Anna I,40.0,NaN,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
4,Wei Okoro,31.0,NaN,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
5,Bob S,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs Review,NaN,Port-Harcourt
6,Wei O'Connor,NaN,NaN,NaN,52000.0,NaT,+2348087462952,Technician,See Supervisor,7 Aba Rd,NaN
7,Anna Ali,29.0,NaN,United Arab Emirates,70000.0,NaT,+2347035951980,Data Analyst,Check Details,45B Olu Obasanjo,NaN
8,Anna Smith,NaN,NaN,NaN,50000.0,2020-01-05,+2347034169525,NaN,Entry Incomplete,NaN,NaN
9,John Kumar,NaN,NaN,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good Candidate,12 Sapele Rd,Port-Harcourt
10,Li Ivanov,NaN,NaN,NaN,60000.0,NaT,NaN,Mud Engineer,Needs Review,NaN,Port-Harcourt
11,Aisha Kumar,30.0,aishakumar@example.com,NaN,NaN,2022-01-01,+2347030961913,Helper,Check Details,NaN,NaN
12,Mohammed Kumar,NaN,NaN,NaN,70000.0,2021-07-15,+2347037279072,NaN,Good Candidate,NaN,Abuja
13,Aisha Ivanov,NaN,NaN,United Kingdom,NaN,NaT,NaN,Helper,See Supervisor,NaN,Lagos
14,Wei O,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+2347033064820,Mud Engineer,NaN,NaN,Lagos
15,Susan Kumar,NaN,NaN,United Arab Emirates,50000.0,2022-01-01,+2347031839405,Intern,NaN,NaN,Kano
16,Wei Ivanov,31.0,weiivanov@example.com,NaN,52000.0,NaT,NaN,NaN,Duplicate,NaN,Kano
17,Li L,18.0,NaN,United Kingdom,50000.0,2021-05-02,NaN,NaN,Check Details,NaN,NaN
18,Grace Ivanov,NaN,graceivanov@example.com,NaN,NaN,NaT,+2348038892034,Technician,Needs Review,NaN,Port-Harcourt
19,Li I,NaN,lii.@example.com,NaN,70000.0,NaT,NaN,Intern,See Supervisor,NaN,Abuja
20,Tunde G,31.0,NaN,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check Details,NaN,Lagos
21,Bob L,25.0,NaN,NaN,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check Details,NaN,Port-Harcourt
22,Li I,25.0,NaN,NaN,45000.0,NaT,+2347034042152,Mud Engineer,Duplicate,NaN,Abuja
23,Aisha Lee,NaN,aishalee@mail.com,NaN,70000.0,NaT,NaN,Mud Engineer,Entry Incomplete,NaN,Lagos
24,Anna K,31.0,NaN,United States of America,52000.0,2020-01-05,NaN,Intern,Good Candidate,7 Olu Obasanjo,Abuja
25,Michael Smith,NaN,NaN,NaN,52000.0,2022-03-20,NaN,Senior Engineer,NaN,7 Olu Obasanjo,Lagos
26,Li Garcia,40.0,NaN,United States of America,70000.0,2020-01-05,NaN,Intern,Check Details,NaN,NaN
27,Grace Doe,35.0,gracedoe@mail.com,NaN,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
28,Anna Okoro,30.0,NaN,NaN,70000.0,NaT,+2348921916409,Mud Engineer,See Supervisor,100 Aba Rd,Kano
29,Susan Smith,31.0,NaN,NaN,52000.0,NaT,NaN,NaN,Entry Incomplete,NaN,Kano
30,Anna Okoro,NaN,NaN,United States of America,70000.0,2021-05-02,NaN,Technician,Needs Review,NaN,Kano
31,Grace Smith,18.0,NaN,NaN,45000.0,NaT,+2348017236641,Senior Engineer,Needs Review,NaN,NaN
32,Bob Ali,NaN,NaN,NaN,52000.0,NaT,NaN,Technician,NaN,100 Main St,Lagos
33,Jane Kumar,22.0,janekumar@mail.com,NaN,52000.0,2022-01-01,NaN,Helper,NaN,12 Aba Rd,Abuja
34,Mohammed Smith,NaN,NaN,NaN,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
35,Grace Garcia,NaN,NaN,United Arab Emirates,70000.0,NaT,+2347033696429,Mud Engineer,Needs Review,NaN,NaN
36,Aisha Doe,29.0,NaN,NaN,45000.0,2022-01-01,NaN,Technician,Check Details,45B Broadway,Kano
37,Bob Doe,NaN,NaN,NaN,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,Port-Harcourt
38,Jane Ali,18.0,janeali@mail.com,NaN,50000.0,NaT,+2348025520377,NaN,Entry Incomplete,NaN,NaN
39,Anna L,22.0,NaN,NaN,50000.0,2021-07-15,NaN,Senior Engineer,Check Details,7 Ikorodu Rd,Kano
40,Anna O,NaN,NaN,NaN,70000.0,NaT,NaN,Senior Engineer,Needs Review,NaN,NaN
41,Aisha Doe,NaN,NaN,United States of America,60000.0,NaT,+2347037057116,Intern,Duplicate,100 Sapele Rd,Kano
42,Li Garcia,22.0,NaN,NaN,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
43,Jane Kumar,NaN,NaN,United Kingdom,NaN,NaT,NaN,Intern,Good Candidate,100 Main St,NaN
44,Bob K,22.0,NaN,NaN,52000.0,NaT,NaN,Intern,See Supervisor,12 Olu Obasanjo,Abuja
45,Michael S,40.0,NaN,NaN,70000.0,2020-01-05,NaN,Mud Engineer,Needs Review,NaN,Kano
46,Mohammed Ali,40.0,NaN,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,Port-Harcourt
47,Aisha Kumar,NaN,NaN,NaN,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs Review,NaN,NaN
48,Anna Doe,NaN,annadoe@mail.com,NaN,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
49,Li O'Connor,25.0,NaN,United Kingdom,NaN,2022-03-20,NaN,Technician,See Supervisor,45B Ikorodu Rd,Port-Harcourt
50,Jane Doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,Mud Engineer,NaN,7 Olu Obasanjo,NaN
51,Grace L,NaN,NaN,United Kingdom,NaN,2020-01-05,+2347032502622,Data Analyst,Entry Incomplete,7 Sapele Rd,Abuja
52,Li Smith,29.0,NaN,United States of America,50000.0,2021-07-15,+2347030004383,Mud Engineer,NaN,NaN,Port-Harcourt

In [103]:
df4["Join_Date"]= df4["Join_Date"].dt.date

AttributeError: Can only use .dt accessor with datetimelike values

In [104]:
df4

,Name,Age,Email,Country,Salary,Join_Date,Phone_Number,Job_Title,Notes,Street,State
0,Li Okoro,22.0,NaN,NaN,70000.0,NaT,+2349166955266,Technician,Duplicate,45B Olu Obasanjo,NaN
1,Susan Okoro,NaN,NaN,United Arab Emirates,NaN,NaT,NaN,Helper,Good Candidate,NaN,Port-Harcourt
2,Aisha Garcia,35.0,NaN,United Kingdom,70000.0,NaT,+2343894146403,Mud Engineer,NaN,7 Main St,NaN
3,Anna I,40.0,NaN,United Kingdom,NaN,2021-07-15,NaN,Data Analyst,Duplicate,NaN,Kano
4,Wei Okoro,31.0,NaN,United States of America,NaN,2020-01-05,NaN,Mud Engineer,NaN,NaN,Lagos
5,Bob S,35.0,bobs.@mail.com,United States of America,52000.0,NaT,+2349220598436,Mud Engineer,Needs Review,NaN,Port-Harcourt
6,Wei O'Connor,NaN,NaN,NaN,52000.0,NaT,+2348087462952,Technician,See Supervisor,7 Aba Rd,NaN
7,Anna Ali,29.0,NaN,United Arab Emirates,70000.0,NaT,+2347035951980,Data Analyst,Check Details,45B Olu Obasanjo,NaN
8,Anna Smith,NaN,NaN,NaN,50000.0,2020-01-05,+2347034169525,NaN,Entry Incomplete,NaN,NaN
9,John Kumar,NaN,NaN,United Arab Emirates,NaN,2021-07-15,+2348081239823,Technician,Good Candidate,12 Sapele Rd,Port-Harcourt
10,Li Ivanov,NaN,NaN,NaN,60000.0,NaT,NaN,Mud Engineer,Needs Review,NaN,Port-Harcourt
11,Aisha Kumar,30.0,aishakumar@example.com,NaN,NaN,2022-01-01,+2347030961913,Helper,Check Details,NaN,NaN
12,Mohammed Kumar,NaN,NaN,NaN,70000.0,2021-07-15,+2347037279072,NaN,Good Candidate,NaN,Abuja
13,Aisha Ivanov,NaN,NaN,United Kingdom,NaN,NaT,NaN,Helper,See Supervisor,NaN,Lagos
14,Wei O,22.0,weio.@mail.com,United States of America,50000.0,2022-01-01,+2347033064820,Mud Engineer,NaN,NaN,Lagos
15,Susan Kumar,NaN,NaN,United Arab Emirates,50000.0,2022-01-01,+2347031839405,Intern,NaN,NaN,Kano
16,Wei Ivanov,31.0,weiivanov@example.com,NaN,52000.0,NaT,NaN,NaN,Duplicate,NaN,Kano
17,Li L,18.0,NaN,United Kingdom,50000.0,2021-05-02,NaN,NaN,Check Details,NaN,NaN
18,Grace Ivanov,NaN,graceivanov@example.com,NaN,NaN,NaT,+2348038892034,Technician,Needs Review,NaN,Port-Harcourt
19,Li I,NaN,lii.@example.com,NaN,70000.0,NaT,NaN,Intern,See Supervisor,NaN,Abuja
20,Tunde G,31.0,NaN,United Arab Emirates,45000.0,NaT,+2342879038650,Mud Engineer,Check Details,NaN,Lagos
21,Bob L,25.0,NaN,NaN,50000.0,2022-03-20,+2348635782104,Senior Engineer,Check Details,NaN,Port-Harcourt
22,Li I,25.0,NaN,NaN,45000.0,NaT,+2347034042152,Mud Engineer,Duplicate,NaN,Abuja
23,Aisha Lee,NaN,aishalee@mail.com,NaN,70000.0,NaT,NaN,Mud Engineer,Entry Incomplete,NaN,Lagos
24,Anna K,31.0,NaN,United States of America,52000.0,2020-01-05,NaN,Intern,Good Candidate,7 Olu Obasanjo,Abuja
25,Michael Smith,NaN,NaN,NaN,52000.0,2022-03-20,NaN,Senior Engineer,NaN,7 Olu Obasanjo,Lagos
26,Li Garcia,40.0,NaN,United States of America,70000.0,2020-01-05,NaN,Intern,Check Details,NaN,NaN
27,Grace Doe,35.0,gracedoe@mail.com,NaN,50000.0,2022-01-01,+2348014018046,Data Analyst,NaN,NaN,NaN
28,Anna Okoro,30.0,NaN,NaN,70000.0,NaT,+2348921916409,Mud Engineer,See Supervisor,100 Aba Rd,Kano
29,Susan Smith,31.0,NaN,NaN,52000.0,NaT,NaN,NaN,Entry Incomplete,NaN,Kano
30,Anna Okoro,NaN,NaN,United States of America,70000.0,2021-05-02,NaN,Technician,Needs Review,NaN,Kano
31,Grace Smith,18.0,NaN,NaN,45000.0,NaT,+2348017236641,Senior Engineer,Needs Review,NaN,NaN
32,Bob Ali,NaN,NaN,NaN,52000.0,NaT,NaN,Technician,NaN,100 Main St,Lagos
33,Jane Kumar,22.0,janekumar@mail.com,NaN,52000.0,2022-01-01,NaN,Helper,NaN,12 Aba Rd,Abuja
34,Mohammed Smith,NaN,NaN,NaN,70000.0,NaT,NaN,Intern,NaN,NaN,Lagos
35,Grace Garcia,NaN,NaN,United Arab Emirates,70000.0,NaT,+2347033696429,Mud Engineer,Needs Review,NaN,NaN
36,Aisha Doe,29.0,NaN,NaN,45000.0,2022-01-01,NaN,Technician,Check Details,45B Broadway,Kano
37,Bob Doe,NaN,NaN,NaN,50000.0,2022-03-20,+2348066392325,Technician,NaN,NaN,Port-Harcourt
38,Jane Ali,18.0,janeali@mail.com,NaN,50000.0,NaT,+2348025520377,NaN,Entry Incomplete,NaN,NaN
39,Anna L,22.0,NaN,NaN,50000.0,2021-07-15,NaN,Senior Engineer,Check Details,7 Ikorodu Rd,Kano
40,Anna O,NaN,NaN,NaN,70000.0,NaT,NaN,Senior Engineer,Needs Review,NaN,NaN
41,Aisha Doe,NaN,NaN,United States of America,60000.0,NaT,+2347037057116,Intern,Duplicate,100 Sapele Rd,Kano
42,Li Garcia,22.0,NaN,NaN,70000.0,2021-07-15,+2342124534827,Mud Engineer,Duplicate,NaN,Abuja
43,Jane Kumar,NaN,NaN,United Kingdom,NaN,NaT,NaN,Intern,Good Candidate,100 Main St,NaN
44,Bob K,22.0,NaN,NaN,52000.0,NaT,NaN,Intern,See Supervisor,12 Olu Obasanjo,Abuja
45,Michael S,40.0,NaN,NaN,70000.0,2020-01-05,NaN,Mud Engineer,Needs Review,NaN,Kano
46,Mohammed Ali,40.0,NaN,United States of America,NaN,NaT,+2340142975725,Mud Engineer,NaN,NaN,Port-Harcourt
47,Aisha Kumar,NaN,NaN,NaN,45000.0,2021-05-02,+2348052204376,Data Analyst,Needs Review,NaN,NaN
48,Anna Doe,NaN,annadoe@mail.com,NaN,NaN,NaT,+2340242851803,Technician,NaN,NaN,Lagos
49,Li O'Connor,25.0,NaN,United Kingdom,NaN,2022-03-20,NaN,Technician,See Supervisor,45B Ikorodu Rd,Port-Harcourt
50,Jane Doe,35.0,janedoe@mail.com,NaN,NaN,NaT,NaN,Mud Engineer,NaN,7 Olu Obasanjo,NaN
51,Grace L,NaN,NaN,United Kingdom,NaN,2020-01-05,+2347032502622,Data Analyst,Entry Incomplete,7 Sapele Rd,Abuja
52,Li Smith,29.0,NaN,United States of America,50000.0,2021-07-15,+2347030004383,Mud Engineer,NaN,NaN,Port-Harcourt

In [105]:
df4.to_excel(r'C:\Users\somte\Desktop\alex the analyst\pandas\GPT real6 Data.xlsx', index = False)